dialog{
  border: none;
  box-shadow: 0 2px 6px #ccc;
  border-radius: 10px;
  padding: 2% 4%;
  width: 40vw;
  background-color: #FCFAF1;
  box-sizing: border-box;
  color: #495057;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: #BC6C25;
  display: flex;
  justify-content: center;
  align-items: center;
}

dialog .content {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  font-size: 1.1em;
  line-height: 1.5em;
}

dialog > .content > h2 {
  font-size: 1.2em;
  font-weight: bold;  
}

dialog .content p {
  line-height: 2em;
}

dialog .content textarea {
  width: 100%;
  padding: 10px;
  border: #86BAA1 1px solid;
  border-radius: 10px;
  box-sizing: border-box;
  resize: none;
}

.icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.iconbtn {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
  cursor: pointer;
  border-radius: 5px;
}

.iconbtn i {
  transition: color 0.3s;
}

dialog .content .eachclass {
  width: 100%;
  padding: 4%;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #FFF;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eachclass .num {
  font-size: 0.5em;
}

dialog .content input {
  width: 100%;
  padding: 10px;
  border: #86BAA1 1px solid;
  border-radius: 10px;
  box-sizing: border-box;
  resize: none;
}

.save {
  margin-top: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.save button {
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  color: #495057;
  cursor: pointer;
  transition: color,background-color 0.3s;
}

.closebtn:hover {
  background-color: #BC4749;
  color: #FFF;
}

.savebtn:hover {
  background-color: #86BAA1;
  color: #FFF;
}

/* X-Large 1440px */

@media screen and (max-width:1440px) {
}

/* Large 1200px */

@media screen and (max-width:1200px) {
}

/* Medium 1024px */

@media screen and (max-width:1024px) {
  dialog{
    padding: 5%;
    width: 50vw;
  }
}

/* Small 768px */

@media screen and (max-width:768px) {

  dialog{
    width: 70vw;
  }
}

/* X-Small 480px */

@media screen and (max-width:480px) {
}