#loading {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loading .jumping {
  position: fixed;
  bottom: 30vh;
}

.loader {
  width: 40px;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #86baa1;
  clip-path: polygon(0 0,100% 0, 100% 67%,50% 67%,50% 34%,0 34%);
  animation: sp7 2s infinite;
}

.loader::after {
  --s:-1,-1;
}

.letter {
  font-size: 1em;
  animation: bounce 2s infinite;
  display: inline-block;
}

.letter:nth-child(1) { animation-delay: 0s; }
.letter:nth-child(2) { animation-delay: 0.1s; }
.letter:nth-child(3) { animation-delay: 0.2s; }
.letter:nth-child(4) { animation-delay: 0.3s; }
.letter:nth-child(5) { animation-delay: 0.4s; }
.letter:nth-child(6) { animation-delay: 0.5s; }
.letter:nth-child(7) { animation-delay: 0.6s; }
.letter:nth-child(8) { animation-delay: 0.7s; }
.letter:nth-child(9) { animation-delay: 0.8s; }
.letter:nth-child(10) { animation-delay: 0.9s; }

@keyframes sp7 {
  0%,
  10%  {transform:scale(var(--s,1)) translate(0,0)        rotate(0deg)}
  33%  {transform:scale(var(--s,1)) translate(0,-20px)    rotate(0deg)}
  66%  {transform:scale(var(--s,1)) translate(10px,-20px) rotate(-90deg)}
  90%,
  100% {transform:scale(var(--s,1)) translate(10px,-10px) rotate(-90deg)}
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* loading2 */
/* HTML: <div class="loader"></div> */
.loader2 {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}