#myCursor {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FFCF56;
  position: absolute;
  transition-duration: 0.1s;
  box-sizing: border-box;
}
  
#circle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  position: absolute;
  transition-duration: 0.15s;
  border: solid 2px #86BAA1;
}