body {
    background-color: #f0ead2;
    margin: 50px;
    display: flex; /* 使用 flex 布局 */
    justify-content: center;
    align-items: center;
}

article {
    /*border-radius: 20px;  圓形邊框 */
    background-color: white;
    padding: 20px; /* 內邊距 */
    display: flex; 
    justify-content: space-between; /* 左右兩側對齊 */
    box-sizing: border-box;
}

.profile {
    flex: 1; /* 让 .profile 元素平分父容器剩余空间 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 25px 70px 25px; /* 调整 .profile 元素的外边距 */
}

.profile-picture {
    border-radius: 50%; /* 圓形邊框 */
    margin: 0px 0px 10px 25px; 
    width: 65%; /* 寬度 */
    height: 65%; /* 高度 */
    box-sizing: border-box; /* 盒子模型 */
}

.profile-name {
    font-size: 2em; /* 文字大小 */
    color: #6E3D0D; /* 文字顏色 */
    position: relative; /* 設置相對位置 */
    border-bottom:2px #6E3D0D solid; 
}

.profile .title{
    display: flex;
    align-items: center;
    margin: 0px 10px 50px 10px;
}

.profile button {
    width: 45%;
    height: 50px;
    padding: 10px 10px;
    margin: 10px 10px;
    border: none; /* 邊框 */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);/*整個陰影*/
    border-radius: 5px; /* 圓角 */
    background-color: white;
    color: #d4a373;
    text-align: center;
    font-size: 1em;
    cursor: pointer; /* 指標樣式 */
    display: flex;
    justify-content: center; 
    align-items: center; 
    transition: background-color 0.3s;/*按按鈕時的漸變*/
}

/*設定按鈕漸變*/
.profile button:hover {
    background-color:  #d4a373;
    color: white;
}


/* 個人資料設定內容 */
.settings {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 2;
}

/*等級條*/
.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 25px;
  }
  
  .progress-bar > form {
    width: 100%;
  }
  
  .progress-bar > .level {
    border: #F47E93 5px solid;
    background-color: #FFF;
    border-radius: 50%;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5%;
  }
  
  .progress-bar > .level > span {
    font-size: 0.5em;
  }
  
  progress{
    appearance: none;
    height: 10px;
    width: 100%;
    position: relative;
  }
  
  progress::-webkit-progress-bar {
    background-color: #B3B3B3;
    border-radius: 5px;
  }
  
  progress::-webkit-progress-value {
    background-color: #F47E93;
    border-radius: 5px;
  }


.out2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.out2 .title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1%;
}

p{
    margin: 10px 5px 5px 5px;
}

.out2 .mail,
.out2 .gender,
.out2 .password,
.out2 .birthday {
    display: flex;
    flex-direction: column;
    gap: 5%;
    flex: 1;
    position: relative; /* 添加相對位置 */
}

.gbt{
    display: flex;
}

/* 性別按鈕 */
.gender button[id="maleButton"]{
    margin-right: 5px;
    border-radius: 15px;
    width: 30%;
    height: 40px;
    border:none;
    background-color:#84C1FF;
    color: #495057;
    text-align: center;
    font-size: 1em;
    cursor: pointer; /* 指標樣式 */
    display: flex;
    justify-content: center; 
    align-items: center; 
    transition: background-color 0.3s;/*按按鈕時的漸變*/
}

.gender button[id="femaleButton"]{
    border-radius: 15px;
    width: 30%;
    height: 40px;
    border:#FF4D6D;
    background-color:#FF95CA;
    color: #495057;
    text-align: center;
    font-size: 1em;
    cursor: pointer; /* 指標樣式 */
    display: flex;
    justify-content: center; 
    align-items: center; 
    transition: background-color 0.3s;/*按按鈕時的漸變*/
}

/*設定按鈕漸變
.gender button:hover {
    background-color:  #d4a373;
    color: white;
}*/


.settings input {
    border: #495057 2px solid;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    padding: 0 20px; /* 添加内边距 */
}

.closesetting button {
    border-radius: 5px;
    width: 7%;
    height: 40px;
    border: none;
    background-color: #495057;
    color: #FFF;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    justify-content: center; 
    align-items: center; 
    transition: background-color 0.3s;
    position: absolute ;
    bottom: 20px;
    right: 20px;
    margin-bottom: 220px; 
    margin-right: 280px; 
}


/*設定按鈕漸變
.closesetting button:hover {
    background-color:  #d4a373;
    color: white;
}*/