/* article */

article {
  padding: 10% 15% 5%;
}

/* switch */

.switch {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.250em;
  font-weight: bold;
  margin-bottom: 5%;
}

.switch a {
  flex: 5;
  text-decoration: none;
  color: #be9871B3;
  border-bottom: #be9871B3 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.switch .active {
  color: #6E3D0D;
  border-bottom: #6E3D0D 3px solid;
}

/* content */

.content {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  margin-top: 2%;
}

/* AI */

.AI {
  border: #D4A373 1px solid;
  border-radius: 10px;
  padding: 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  text-decoration: none;
}

/* ai-recipe-share */

.ai-recipe-share {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.ai-recipe-share img {
  max-width: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* title */

.ai-recipe-share .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5% 0;
}

.title img {
  max-width: 100%;
  max-height: 100%;
  width: 12%;
  height: auto;
  margin-right: 5%;
}

.title h3 {
  font-size: 1.563em;
  font-weight: bold;
  color: #0B1A2F;
}

.ai-recipe-share p {
  color: #495057;
}

.ai-recipe-share p:nth-of-type(1) {
  margin-bottom: 5%;
}

.ai-recipe-share p:nth-of-type(2) {
  margin-bottom: 10%;
  line-height: 25px;
}

/* diet */

.diet {
  font-size: 0.5em;
  margin-bottom: 7%;
  display: flex;
  gap: 3%;
  align-items: center;
}

.dietname {
  padding: 2%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5e6472;
}

/* more */

.more {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more button {
  color: #0B1A2F;
  font-weight: bold;
  background-color: transparent; /* 將背景色設為透明 */
  border: none; /* 消除邊框 */
  text-decoration: underline; /* 加底線 */
}

.more a.unpublished,
.more a.published {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2% 4%;
  border-radius: 5px;
  border: none;
  font-size: 15px;
}

.more .published {
  background-color: #86BAA1;
}

.more .unpublished {
  background-color: #D4A373;
}

/* Medium 1024px */

@media screen and (max-width:1024px) {
  article {
    padding: 15% 15% 5%;
  }
}

/* Small 768px */

@media screen and (max-width:768px) {
  article {
    padding: 20% 15% 5%;
  }

  .content {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: space-between;
    margin-top: 5%;
  }
}

/* X-Small 480px */

@media screen and (max-width:480px) {
  article {
    padding: 25% 15% 10%;
  }
}