/* article */

article {
  padding: 10% 15% 5%;
}

/* switch */

.switch {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.250em;
  font-weight: bold;
  margin-bottom: 5%;
}

.switch a {
  flex: 5;
  text-decoration: none;
  color: #be9871B3;
  border-bottom: #be9871B3 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.switch .active {
  color: #6E3D0D;
  border-bottom: #6E3D0D 3px solid;
}

/* content */

.content {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.fewcontent {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 300px));
}

/* AI */

.AI {
  border: #D4A373 1px solid;
  border-radius: 10px;
  padding: 10% 5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
}

.AI .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15% 0;
}

.AI p {
  color: #495057;
  line-height: 25px;
}

/* ai-recipe-share */

.ai-recipe-share {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.addcricle,
.ai-recipe-share > .recipe-img {
  max-width: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* title */

.ai-recipe-share .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5% 0;
  gap: 10px;
}

.recipe-avatarFrame {
  background-image: url(/static/images/nutritionistFrame.png);
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-profile {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  object-fit: cover;
}

.aibanana,
.noAvatarFrame-recipe-profile {
  max-width: 100%;
  max-height: 100%;
  width: 12%;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

.title h3 {
  font-size: 25px;
  font-weight: bold;
  color: #0B1A2F;
}

.ai-recipe-share p {
  color: #495057;
}

.ai-recipe-share p:nth-of-type(1) {
  margin-bottom: 5%;
}

.ai-recipe-share p:nth-of-type(2) {
  margin-bottom: 10%;
  line-height: 25px;
}

/* diet */

.diet {
  font-size: 0.5em;
  margin-bottom: 7%;
  display: flex;
  gap: 3%;
  align-items: center;
}

.diet .dietname {
  padding: 2%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5e6472;
}

/* more */

.more {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more button {
  color: #0B1A2F;
  font-weight: bold;
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

.more a.unpublished,
.more a.published {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2% 4%;
  border-radius: 5px;
  border: none;
  font-size: 15px;
}

.more .published {
  background-color: #86BAA1;
}

.more .unpublished {
  background-color: #D4A373;
}

/* rwdrecipe */

.rwdrecipe {
  display: none;
}

.rwdrecipe button {
  border: #D4A373 1px solid;
  border-radius: 10px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  padding: 5%;
  cursor: pointer;
  transition: all 0.3s;
}

.AI:hover,
.rwdrecipe button:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.rwdrecipe .recipe-img {
  max-width: 100%;
  max-height: 100%;
  width: 20%;
  height: 20%;
  border-radius: 10px;
  object-fit: cover;
}

.rwdrecipe .forrwd {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rwdrecipe .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

/* X-Large 1440px */

@media screen and (max-width:1440px) {
  article {
    padding: 12% 15% 5%;
  }
}

/* Large 1200px */

@media screen and (max-width:1200px) {
  article {
    padding: 13% 15% 5%;
  }
}

/* Medium 1024px */

@media screen and (max-width:1024px) {
  article {
    padding: 15% 15% 5%;
  }

  .switch {
    margin-bottom: 8%;
  }
}

/* Small 768px */

@media screen and (max-width:768px) {
  article {
    padding: 20% 15% 5%;
  }

  .switch {
    margin-bottom: 10%;
  }

  .content {
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .AI {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    padding: 5%;
  }

  .add {
    width: 50%;
    height: auto;
  }

  .addcricle {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  .AI .forrwd {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .AI .title {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  }

  .title h3 {
    font-size: 20px;
  }

  .AI p,
  .rwdrecipe p {
    font-size: 15px;
    line-height: 20px;
    text-align: left;
  }

  .ai-recipe-share {
    display: none;
  }

  .rwdrecipe {
    display: block;
  }
}

/* X-Small 480px */

@media screen and (max-width:480px) {
  article {
    padding: 25% 15% 10%;
  }
}