/* article */

article {
  padding: 10% 15% 5%;
}

/* switch */

.switch {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.250em;
  font-weight: bold;
}

.switch a {
  flex: 5;
  text-decoration: none;
  color: #be9871B3;
  border-bottom: #be9871B3 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.switch .active {
  color: #6E3D0D;
  border-bottom: #6E3D0D 3px solid;
}

/* search */

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3% 0 5%;
  gap: 2%;
}

.cooking-time {
  display: flex;
  align-items: center;
  color: #BE9771;
  width: 70%;
  gap: 2%;
}

.cooking-time input {
  border: #BE9771 1px solid;
  border-radius: 10px;
  padding: 10px 20px;
  width: 100%;
}

.cooking-time span {
  text-align: center;
}

.cooking-time > select {
  border: #BE9771 1px solid;
  border-radius: 10px;
  padding: 10px 20px;
  color: #495057;
}

.keyword-query {
  position:relative;
  display:inline-block;
  width: 30%;
}

.keyword-query input {
  border: #BE9771 1px solid;
  border-radius: 10px;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}

.keyword-query i {
  color: #BE9771;
  cursor: pointer;
  position: absolute; 
  right: 10px;
  top: calc(50% - 0.5em);
}

/* filter */

.filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: #be9871B3;
}

.filter p {
  margin-right: 2%;
  font-weight: bold;
}

.filter .active {
  color: #6E3D0D;
}

/* content */

.content {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  margin-top: 2%;
}

.fewcontent {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 300px));
}

/* ai-recipe-share */

.ai-recipe-share {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.recipe-img {
  max-width: 100%;
  max-height: 50%;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* title */

.ai-recipe-share .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5% 0;
  gap: 10px;
}

.recipe-avatarFrame {
  width: 60px;
  aspect-ratio: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.have {
  background-image: url(/static/images/nutritionistFrame.png);
}

.recipe-profile {
  border-radius: 50%;
  width: 35px;
  aspect-ratio: 1;
  object-fit: cover;
}

.noAvatarFrame {
  max-width: 100%;
  max-height: 100%;
  width: 45px;
}

.title h3 {
  font-size: 1.563em;
  font-weight: bold;
  color: #0B1A2F;
}

.ai-recipe-share p {
  color: #495057;
}

.ai-recipe-share p:nth-of-type(1) {
  margin-bottom: 5%;
}

.ai-recipe-share p:nth-of-type(2) {
  margin-bottom: 10%;
  line-height: 25px;
}

/* diet */

.diet {
  font-size: 0.5em;
  margin-bottom: 7%;
  display: flex;
  gap: 3%;
  align-items: center;
}

.dietname {
  padding: 2.5%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5e6472;
}

/* more */

.more {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more button {
  color: #0B1A2F;
  font-weight: bold;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.more .icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #D4A373;
}

/* rwdrecipe */

.rwdrecipe {
  display: none;
}

.rwdrecipe button {
  border: #D4A373 1px solid;
  border-radius: 10px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  padding: 5%;
  cursor: pointer;
  transition: all 0.3s;
}

.rwdrecipe button:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.rwdrecipe .recipe-img {
  max-width: 100%;
  max-height: 100%;
  width: 20%;
  height: 20%;
  border-radius: 10px;
  object-fit: cover;
}

.rwdrecipe .forrwd {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rwdrecipe .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

/* X-Large 1440px */

@media screen and (max-width:1440px) {
  article {
    padding: 13% 15% 5%;
  }
}

/* Large 1200px */

@media screen and (max-width:1200px) {
  .search {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .cooking-time,
  .keyword-query {
    width: 100%;
  }
}

/* Medium 1024px */

@media screen and (max-width:1024px) {
  article {
    padding: 15% 15% 5%;
  }

  .search {
    margin: 5% 0 8%;
  }
}

/* Small 768px */

@media screen and (max-width:768px) {
  article {
    padding: 20% 15% 5%;
  }

  .switch a {
    padding: 0 0 2% 0;
  }

  .content {
    grid-gap: 30px;
    margin-top: 5%;
  }

  .title h3 {
    font-size: 20px;
  }

  .rwdrecipe p {
    font-size: 15px;
    line-height: 20px;
    text-align: left;
  }

  .ai-recipe-share {
    display: none;
  }

  .rwdrecipe {
    display: block;
  }
}

/* X-Small 480px */

@media screen and (max-width:480px) {
  article {
    padding: 30% 10% 10%;
  }

  .switch a {
    padding: 0 0 4% 0;
  }

  .search {
    margin: 10% 0 10%;
  }

  .content {
    margin-top: 5%;
  }

  .rwdrecipe button {
    gap: 20px;
  }

  .rwdrecipe .title {
    gap: 5px;
  }
}