/* article */

article {
  padding: 10% 15% 5%;
}

/* switch */

.switch {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.250em;
  font-weight: bold;
}

.switch a {
  flex: 5;
  text-decoration: none;
  color: #be9871B3;
  border-bottom: #be9871B3 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.switch .active {
  color: #6E3D0D;
  border-bottom: #6E3D0D 3px solid;
}

/* search */

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3% 0 5%;
}

.cooking-time {
  display: flex;
  align-items: center;
  color: #BE9771;
  width: 40%;
}

.cooking-time input {
  border: #BE9771 1px solid;
  border-radius: 10px;
  padding: 10px 20px;
  width: 40%;
}

.cooking-time span {
  text-align: center;
}

.cooking-time span:nth-of-type(1) {
  margin-left: 3%;
}

.cooking-time span:nth-of-type(2) {
  margin-right: 3%;
}

.cooking-time span:nth-of-type(3) {
  margin: 0 3%;
}

.keyword-query {
  position:relative;
  display:inline-block;
  width: 60%;
}

.keyword-query input {
  border: #BE9771 1px solid;
  border-radius: 10px;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}

.keyword-query i {
  color: #BE9771;
  cursor: pointer;
  position: absolute; 
  right: 10px;
  top: calc(50% - 0.5em);
}

/* filter */

.filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: #be9871B3;
}

.filter p {
  margin-right: 2%;
  font-weight: bold;
}

.filter .active {
  color: #6E3D0D;
}

/* content */

.content {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: space-between;
  margin-top: 2%;
}

/* ai-recipe-share */

.ai-recipe-share {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.ai-recipe-share img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* title */

.ai-recipe-share .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5% 0;
}

.title img {
  max-width: 100%;
  max-height: 100%;
  width: 12%;
  height: auto;
  margin-right: 5%;
}

.title h3 {
  font-size: 1.563em;
  font-weight: bold;
  color: #0B1A2F;
}

.ai-recipe-share p {
  color: #495057;
}

.ai-recipe-share p:nth-of-type(1) {
  margin-bottom: 5%;
}

.ai-recipe-share p:nth-of-type(2) {
  margin-bottom: 10%;
  line-height: 25px;
}

/* more */

.more {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more a {
  color: #0B1A2F;
  font-weight: bold;
}

.more .icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #D4A373;
}

/* Large 1200px */

@media screen and (max-width:1200px) {
  .cooking-time,
  .keyword-query {
    width: 50%;
  }
}

/* Medium 1024px */

@media screen and (max-width:1024px) {
  article {
    padding: 15% 15% 5%;
  }

  .search {
    margin: 5% 0 8%;
  }
}

/* Small 768px */

@media screen and (max-width:768px) {
  .switch a {
    padding: 0 0 2% 0;
  }
  
  .search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
  }

  .cooking-time,
  .keyword-query {
    width: 100%;
  }

  .content {
    margin-top: 5%;
  }
}

/* X-Small 480px */

@media screen and (max-width:480px) {
  article {
    padding: 25% 15% 10%;
  }

  .switch a {
    padding: 0 0 4% 0;
  }

  .search {
    margin: 10% 0 10%;
  }
}