/* banner */
.banner {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    padding-top: 4%;
}

.banner img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    opacity:0.5;
    object-fit: cover;
}

/* receipe */
.receipe,
.summary,
.wrap > .content {
    line-height: 25px;
}

.receipe {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.receipe > .wrap {
    width: 60%;
    margin-bottom: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}

/* title */
.receipe > .wrap > .title {
    display: flex;
    margin: 40px 0 20px;
    margin-top: 10%;
    align-items: center;
    width: 100%;
}

.title > .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title > .left > h1 {
    margin-right: 10px;
    font-size: 1.875em;
    font-weight: bold;
}

.receipe > .wrap > .title > .left > .like > i,
.left > .like {
    color: #D4A373;
}

/* diet */

.diet {
  font-size: 0.5em;
  display: flex;
  justify-content: flex-end;
  gap: 2%;
  align-items: center;
  flex-grow: 1;
}

.dietname {
  padding: 3px 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5e6472;
  cursor: pointer;
}

/* .summary */
.summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 0.75em;
    margin-bottom: 5%;
}

.summary p:nth-of-type(1) {
    margin-bottom: 1.5%;
}

.summary h2 {
    margin-bottom: 1%;
}

.summary p:nth-of-type(2) {
    font-size: 1.25em;
}

/* content */
.wrap > .content > h2 {
    font-size: 1.6875em;
    font-weight: bold;
    margin-bottom: 3%;
}

.wrap > .content > ol {
    list-style: decimal;
    padding-left: 30px;
    margin-bottom: 5%;
}

.wrap > .content > p {
    margin-bottom: 5%;
}

/* button */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button button {
    background-color: #D4A373;
    color: #FFF;
    border: none;
    border-radius: 10px;
    padding: 1% 2%;
    font-size: 1.125em;
}

.button  .published {
  background-color: #86BAA1;
}

/* comment */
.comment {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #86baa15f;
}

.comment > .wrap {
    width: 60%;
    margin-bottom: 50px;
    align-items: center;
}


.comment > .wrap > .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 10% 0 5%;
    color: #464646;
}

.comment > .wrap > .title >.share {
    color: #464646;
}

/* each */
.comment .each,
.comment .message {
  width: 100%;
  background-color: #FFF;
  padding: 1%; 
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.comment .message > input {
  border: none;
  flex-grow: 1;
  font-size: 15px;
  color: #464646;
}

.comment .message > i {
  font-size: 20px;
  color: #6E3D0D;
  margin-left: 3%;
  transition: color 0.3s;
  cursor: pointer;
}

.comment .message > i:hover {
  color: #D4A373;
}

.each .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

.each .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 3%;
}

.left .like {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.left .like i {
    font-size: 25px;
    color: #ff3333bb;
    margin-right: 5px;
    cursor: pointer;
}

.left p {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.right p {
    margin-right: 10px;
    font-size: 12px;
}

.right .photostickers {
  width: 30px;
  height: 30px;
}

.photostickers img{
  width: 100%;
  height: 100%;
}

/* X-Large 1440px */

@media screen and (max-width:1440px) {
}

/* Large 1200px */

@media screen and (max-width:1200px) {
  .each .left {
    width: 70%;
  }
}

/* Medium 1024px */

@media screen and (max-width:1024px) {
  .receipe > .wrap,
  .comment > .wrap {
    width: 70%;
    margin-bottom: 50px;
  }
}

/* Small 768px */

@media screen and (max-width:768px) {
  .button button {
    padding: 2% 4%;
  }

  .content p {
    margin-bottom: 10%;
  }

  .comment .each {
    padding: 2%; 
  }

  .right p {
    display: none;
  }
}

/* X-Small 480px */

@media screen and (max-width:480px) {
  .receipe > .wrap > .title {
    margin: 20% 0 10%;
  }

  .content h2 {
    margin: 10% 0;
  }

  .comment > .wrap > .title {
    margin: 15% 0 10%;
  }

  .each .left {
    width: 80%;
  }
}