/* banner */
.banner {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    padding-top: 4%;
}

.banner img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    opacity:0.5;
    object-fit: cover;
}

/* receipe */
.receipe,
.summary,
.content {
    line-height: 25px;
}

.receipe {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.receipe > .wrap {
    width: 60%;
    margin-bottom: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
}

/* title */
.receipe > .wrap > .title {
    display: flex;
    justify-content: flex-start;
    margin: 40px 0 20px;
    margin-top: 10%;
    align-items: center;
}

.title img {
    margin-right: 10px;
    display: grid;
}

.title h1 {
    margin-right: 10px;
    font-size: 1.875em;
    font-weight: bold;
}

.title .like {
    color: #D4A373;
}

/* .summary */
.summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 0.75em;
    margin-bottom: 5%;
}

.summary p:nth-of-type(1) {
    margin-bottom: 1.5%;
}

.summary h2 {
    margin-bottom: 1%;
}

.summary p:nth-of-type(2) {
    font-size: 1.25em;
}

/* content */
.content h2 {
    font-size: 1.6875em;
    font-weight: bold;
    margin-bottom: 3%;
}

.content ol {
    list-style: decimal;
    padding-left: 20px;
    margin-bottom: 5%;
}

.content p {
    margin-bottom: 5%;
}

/* button */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button button {
    background-color: #D4A373;
    color: #FFF;
    border: none;
    border-radius: 10px;
    padding: 1% 2%;
    font-size: 1.125em;
}

/* comment */
.comment {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #86baa15f;
}

.comment > .wrap {
    width: 60%;
    margin-bottom: 50px;
    align-items: center;
}


.comment > .wrap > .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 10% 0 5%;
}

.comment > .wrap > .title >.share {
    color: #464646;
}

/* word */
.comment .word {
    width: 100%;
}

.comment .word .each {
    display: flex;
    background-color: #FFF;
    padding: 1%; 
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.each .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
}

.each .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.left .like {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.left .like i {
    font-size: 25px;
    color: #ff3333bb;
    margin-right: 5px;
}

.left p {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.right p {
    margin-right: 10px;
    font-size: 12px;
}

.right img{
    transform: scale(0.8);
}

/* X-Large 1440px */

@media screen and (max-width:1440px) {
}

/* Large 1200px */

@media screen and (max-width:1200px) {
  .each .left {
    width: 70%;
  }
}

/* Medium 1024px */

@media screen and (max-width:1024px) {
  .receipe > .wrap,
  .comment > .wrap {
    width: 70%;
    margin-bottom: 50px;
  }
}

.content p {
  margin-bottom: 5%;
}

/* Small 768px */

@media screen and (max-width:768px) {
  .button button {
    padding: 2% 4%;
  }

  .content p {
    margin-bottom: 10%;
  }

  .comment .word .each {
    padding: 2%; 
  }
}

/* X-Small 480px */

@media screen and (max-width:480px) {
  .receipe > .wrap > .title {
    margin: 20% 0 10%;
  }

  .content h2 {
    margin: 10% 0;
  }

  .comment > .wrap > .title {
    margin: 15% 0 10%;
  } 

  .comment .word .each {
    padding: 2%; 
  }

  .each .left {
    width: 80%;
  }

  .right p {
    display: none;
  }
}