<!DOCTYPE HTML>
<html>
	<head>
		<title>Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="/static/images/favicon.ico" rel="shortcut icon"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/base/reset.css">
		<link rel="stylesheet" href="/static/css/base/global.css">
		<link rel="stylesheet" href="/static/css/base/main.css">
		<link rel="stylesheet" href="/static/css/layout/navbar.css">
  	<link rel="stylesheet" href="/static/css/layout/footer.css">
		<link rel="stylesheet" href="/static/css/home/home.css">
		<script src="https://kit.fontawesome.com/d9f27795c1.js" crossorigin="anonymous"></script>
		<script src="/static/components/layout/navbar.js" defer></script>
		<script src="/static/components/layout/footer.js" defer></script>
	</head>
	<body>
		<nav id="nav-container"></nav>
		
		<article id="page-wrapper">
			<section id="header">
				<div class="inner">
					<h1>{{data[0]}}</h1>
					<hr/>
					<p>
						{% for i in range(0, data[1]|length, 39) %}
							{{data[1][i:i+39]}}<br>
						{% endfor %}
					</p>
				</div>
			</section>

			<section id="banner">
				<h2>Hi. Welcome to <strong>Nice巴底</strong>.</h2>
			</section>

			<section class="torobot">
				<div class="wrap">
					<div class="left">
						<img src="/static/images/banana.png" alt="" />
					</div>
					<div class="right">
						<h2>
							Banana營養師<br>
							打造健康飲食的小助手
						</h2>
						<p>確保您的飲食均衡且營養豐富</p>
						<a href=""><button>開始使用</button></a>
					</div>
				</div>
			</section>

			<section class="carousel">
				<div class="reel" >
					<div class="food">
						<a href="#" class="image featured">
							<img src="/static/images/food1.png" alt="" />
							<h3>纖潤蛤蠣盛宴</h3>
						</a>
					</div>
					<div class="food">
						<a href="#" class="image featured">
							<img src="/static/images/food1.png" alt="" />
							<h3>纖潤蛤蠣盛宴</h3>
						</a>
					</div>
					<div class="food">
						<a href="#" class="image featured">
							<img src="/static/images/food1.png" alt="" />
							<h3>纖潤蛤蠣盛宴</h3>
						</a>
					</div>
					<div class="food">
						<a href="#" class="image featured">
							<img src="/static/images/food1.png" alt="" />
							<h3>纖潤蛤蠣盛宴</h3>
						</a>
					</div>
					<div class="food">
						<a href="#" class="image featured">
							<img src="/static/images/food1.png" alt="" />
							<h3>纖潤蛤蠣盛宴</h3>
						</a>
					</div>
					<div class="food">
						<a href="#" class="image featured">
							<img src="/static/images/food1.png" alt="" />
							<h3>纖潤蛤蠣盛宴</h3>
						</a>
					</div>
					<div class="food">
						<a href="#" class="image featured">
							<img src="/static/images/food1.png" alt="" />
							<h3>纖潤蛤蠣盛宴</h3>
						</a>
					</div>
				</div>
			</section>

			<section class="link">
				<div class="wrap">
					<h1>健康是力量</h1>
					<div class="links">
						<i class="fa-brands fa-facebook"></i>
						<i class="fa-brands fa-line"></i>
						<i class="fa-brands fa-instagram"></i>
					</div>
				</div>
			</section>
		</article>

		<footer id="footer-container"></footer>

		<!-- Scripts -->
		<script>
			let messageText = "煙燻";

			window.onload = function() {
				renderNav();
				renderFooter();
			};
		</script>

		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.dropotron.min.js"></script>
		<script src="/static/js/jquery.scrolly.min.js"></script>
		<script src="/static/js/jquery.scrollex.min.js"></script>
		<script src="/static/js/browser.min.js"></script>
		<script src="/static/js/breakpoints.min.js"></script>
		<script src="/static/js/util.js"></script>
		<script src="/static/js/main.js"></script>
	</body>
</html>