<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/images/favicon.ico" rel="shortcut icon"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/base/reset.css">
  <link rel="stylesheet" href="/static/css/base/global.css">
  <link rel="stylesheet" href="/static/css/components/mousemove.css">
	<link rel="stylesheet" href="/static/css/layout/navbar.css">
  <link rel="stylesheet" href="/static/css/layout/footer.css">
  <link rel="stylesheet" href="/static/css/home/login.css">
  <script src="https://kit.fontawesome.com/d9f27795c1.js" crossorigin="anonymous"></script>
  <script src="/static/components/mousemove.js" defer></script>
	<script src="/static/components/layout/navbar.js" defer></script>
  <script src="/static/components/layout/footer.js" defer></script>
  <title>登入</title>
</head>
<body>
  <div id="myCursor"></div>
  <div id="circle"></div>

  <nav id="nav-container"></nav>

  <article>
    <section>
      <h1>Log in</h1>
      <div class="loginbtn" onclick="redirectToGoogle()">
        <img src="/static/images/proflie/gicon.png" alt="">
        <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
        <span>Continue with Google</span>
      </div>
    </section>
    <div class="word">
      <h1>WEL</h1>
      <h2>COME</h2>
    </div>
  </article>

  <footer id="footer-container"></footer>

  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script>
		let messageText = "{{data}}";

    window.onload = function() {
      renderNav();
      renderFooter();
    };

    function redirectToGoogle() {
      window.location.href = 'URL_TO_GOOGLE_LOGIN_PAGE';
    }

    function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      console.log('ID: ' + profile.getId());
      console.log('Name: ' + profile.getName());
      console.log('Image URL: ' + profile.getImageUrl());
      console.log('Email: ' + profile.getEmail());
    }
  </script>
</body>
</html>