body {
  font-family: "Montserrat", sans-serif;
}

article {
  margin-bottom: 0;
  color: #495057;
}

#header {
  height: 100vh;
}

#header .inner h1 {
  font-size: 4.375em;
  color: #0B1A2F;
}

#header .inner p {
  font-size: 1.563em;
  line-height: 35px;
  color: #0B1A2F;
}

/* torobot */
.torobot {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F1E8BF;
  padding: 4%;
  margin: 0;
}

.torobot .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.torobot .left {
  flex: 1;
}

.torobot img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.torobot .right {
  flex: 2;
}

.torobot .right h2 {
  font-weight: bold;
  margin-bottom: 5%;
}

.torobot .right p {
  color: #6E3D0D;
  font-size: 1.250em;
}

.torobot .right button {
  background-color: #6E3D0D;
  font-size: 1em;
}

.torobot .right button:hover {
  background-color: #6E3D0D;
}

/* carousel */

.carousel {
  padding: 6em 0;
}

.food {
  border-radius: 10px;
  display: inline-block;
  width: 18em;
  background: #F0EAD2;
  text-align: center;
  margin: 0 1.25em 0 0;
  white-space: normal;
  opacity: 1.0;
  transition: opacity 0.75s ease-in-out;
}

/* .image.featured 中間不可有空格 */
.image.featured {
  margin: 0;
  padding: 0;
  text-decoration: none;
  overflow: hidden;
  border-radius: 10px;
}

.featured img {
  transition: transform  0.3s;
}

.featured h3 {
  margin: 10% 0;
  font-weight: bold;
  transition: font-size  0.3s;
}

.image.featured:hover img {
  transform: scale(1.1);
}

.image.featured:hover h3 {
  font-size: 1.5em;
  color: #BC6C25;
}

.forward,
.backward {
  display: block;
}

/* honoroll */

.honoroll {
  background: linear-gradient(#FFF 0%, #FCFAF1 20%);
  padding-bottom: 5%;
  box-sizing: border-box;
}

.honoroll > .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.honoroll > .title h1 {
  font-family: "Caprasimo", serif;
  font-size: 3.5em;
  color: #FFCF56;
  letter-spacing: 10px;
}

.honoroll > .title h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: #6E3D0D;
  margin-top: 20px;
  letter-spacing: 7px;
}

.honoroll .type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7% 0;
}

.type .picture {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.picture .bg {
  max-width: 70%;
  max-height: 70%;
  position: relative;
}

.picture .gif {
  position: absolute;
}

.type .infro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 50px;
  font-weight: bold;
  padding: 0 5%;
  box-sizing: border-box;
}

.infro .user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.infro > .user > h1 {
  font-size: 2.5em;
  font-weight: bold;
  letter-spacing: 7px;
  color: #495057;
}

.infro .num {
  font-size: 2.5em;
  letter-spacing: 7px;
}

.infro .saying {
  font-size: 1.5em;
  color: #6E3D0D;
  letter-spacing: 7px;
  line-height: 35px;
}

/* link */

.link {
  background-color: #F1E8BF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3% 0;
}

.link .wrap {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link .wrap h1 {
  font-size: 1.250em;
  font-weight: bold;
}

.link .wrap .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 15% 0 0;
}

.links i {
  color: #6E3D0D;
  font-size: 50px;
}