body {
    background-color: #F0EAD2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 330px;
}

.post {
    width: 700px; /* 設置為 730px */
    background-color: #FCFAF1;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 15px; 
}

.post-author {
    font-weight: bold;
    margin-bottom: 5px;
}

.post-content {
    margin-left: 65px;
    margin-bottom: 5px;
}

.post-actions {
    position: absolute;
    top: 5px;
    right: 5px;
    margin-top: 10px; /* 調整貼文操作按鈕和貼文內容的上間距 */
}

.post-actions button {
    margin-right: 5px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    float: left;
    margin-top: 10px;
}

.comment-section {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.comment-input {
    width: 515px; /* 修改為515px */
    margin-right: 10px;
    border-radius: 15px;
}

.comment-submit {
    width: 80px;
}

.post-time {
    color: #CCC5B9; /* 設置時間的顏色 */
    position: absolute;
    top: 10px; /* 将位置调整到顶部 */
    left: 120px; /* 调整到帖子作者的旁边 */
    font-size: 12px;
}

.check-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2%;
    gap: 3%;
}
.check-box > .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    background-color: #FFF;
    border-radius: 10px;
    margin-top: 3%;
}

dialog{
    border: none;
    box-shadow: 0 2px 6px #ccc;
    border-radius: 10px;
    padding: 2% 4%;
    width: 30vw;
    background-color: #FCFAF1;
    box-sizing: border-box;
    color: #495057;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

dialog h1 {
    font-size: 1.5em;
    font-weight: bold;
    color: #BC6C25;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content button[type="button"]:first-of-type {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 33px;
    background-color: #3C3C3C;
    color: white;
}        

/* 確認按鈕 */
.modal-content button[type="button"]:last-of-type {
    position: absolute;
    bottom: 10px;
    right: 56px; /* 與取消按鈕的距離 */
    width: 33px;
    background-color: #86BAA1;
    color: white;
}