<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/images/favicon.ico" rel="shortcut icon"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/base/reset.css">
  <link rel="stylesheet" href="/static/css/base/global.css">
  <link rel="stylesheet" href="/static/css/layout/navbar.css">
  <link rel="stylesheet" href="/static/css/layout/footer.css">
  <link rel="stylesheet" href="/static/css/robott/recipeWorld.css">
  <script src="https://kit.fontawesome.com/d9f27795c1.js" crossorigin="anonymous"></script>
  <script src="/static/components/layout/navbar.js" defer></script>
  <script src="/static/components/layout/sidebar.js" defer></script>
  <script src="/static/components/layout/footer.js" defer></script>
  <title>食譜天地</title>
</head>
<body>
  <div id="nav-container"></div>

  <article>
    <section>
      <div class="switch">
        <a class="generate-recipes" href="/robott/generateRecipes">生成食譜</a>
        <a class="active recipe-world" href="/robott/recipeWorld">食譜天地</a>
      </div>

      <div class="search">
        <div class="cooking-time">
          <input type="text" placeholder="烹飪時間"><span>分</span><span>~</span> 
          <input type="text" placeholder="烹飪時間"><span>分</span>
          <select name="" id="">
            <option value="">所有飲食法</option>
            <option value="">地中海飲食法</option>
            <option value="">得舒飲食法</option>
            <option value="">彈性素食</option>
            <option value="">234飲食法</option>
          </select>
        </div>

        <label class="keyword-query">
          <input type="text" placeholder="關鍵字查詢">
          <i class="fa-solid fa-magnifying-glass"></i>
        </label>
      </div>
    </section>

    <section>
      <div class="filter">
        <p class="active">最新</p>
        <p>最熱門</p>
        <p>分享最多</p>
      </div>

      <div class="content">
        {% for d in data %}
        <div class="ai-recipe-share">
          <img src="{{ Recipes_image_path }}/{{ d[3] }}" alt="">
          <div class="title">
            <img src="{{ user_image_path }}/{{ d[6] }}" alt="">
              <h3>{{d[0]}}</h3>
          </div>
          <p>{{d[1]}}</p>
          {% if d[2]|length > 60 %}
          <p>{{d[2][:60]}}...</p>
          {% else %}
          <p>{{d[2]}}</p>
          {% endif %}
          <div class="diet">
            <span class="dietname mediterranean">地中海</span>
            <span class="dietname deshu">得舒</span>
            <span class="dietname vegetarian">彈性素食</span>
            <span class="dietname numdiet">234</span>
          </div>
          <div class="more">
            <a href="/robott/detailedRecipe">了解更多</a>
            <div class="icon">
              <div class="like">
                <i class="fa-solid fa-thumbs-up"></i>
                <span>{{d[4]}}&ensp;</span>
              </div>
              <div class="share">
                <i class="fa-solid fa-share"></i>
                <span>{{d[5]}}</span>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
  </article>

  <footer id="footer-container"></footer>

  <script>
    let messageText = "chiaoyu";

    window.onload = function() {
      renderNav();
      renderFooter();
    };

    document.addEventListener('DOMContentLoaded', function () {
      const menuIcon = document.getElementById('menuIcon');
      const closeIcon = document.getElementById('closeIcon');
      const sideBar = document.querySelector('.sideBar');

      menuIcon.addEventListener('click', function () {
        sideBar.classList.add('active');
      });

      closeIcon.addEventListener('click', function () {
        sideBar.classList.remove('active');
      });
    });
  </script>
</body>
</html>