<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/base/reset.css">
  <link rel="stylesheet" href="/static/css/base/global.css">
  <link rel="stylesheet" href="/static/css/layout/navbar.css">
  <link rel="stylesheet" href="/static/css/layout/footer.css">
  <link rel="stylesheet" href="/static/css/robott/recipeWorld.css">
  <script src="https://kit.fontawesome.com/d9f27795c1.js" crossorigin="anonymous"></script>
  <script src="/static/components/layout/navbar.js" defer></script>
  <script src="/static/components/layout/sidebar.js" defer></script>
  <script src="/static/components/layout/footer.js" defer></script>
  <title>食譜天地</title>
</head>
<body>
  <div id="nav-container"></div>

  <article>
    <section>
      <div class="switch">
        <a class="generate-recipes" href="/robott/generateRecipes">生成食譜</a>
        <a class="active recipe-world" href="/robott/recipeWorld">食譜天地</a>
      </div>

      <div class="search">
        <div class="cooking-time">
          <input type="text" placeholder="烹飪時間"><span>分</span><span>~</span> 
          <input type="text" placeholder="烹飪時間"><span>分</span>
        </div>

        <label class="keyword-query">
          <input type="text" placeholder="關鍵字查詢">
          <i class="fa-solid fa-magnifying-glass"></i>
        </label>
      </div>
    </section>

    <section>
      <div class="filter">
        <p class="active">最新</p>
        <p>最熱門</p>
        <p>分享最多</p>
      </div>

      <div class="content">
        <div class="ai-recipe-share">
          <img src="/static/images/food1.png" alt="">
          <div class="title">
            <img src="/static/images/user1.png" alt="">
            {% for d in data %}
              <h3>{{d[0]}}</h3>
            {% endfor %}
          </div>
          <p>02.05.2024</p>
          <p>這款「海之芳饌 - 蛤蠣湯高纖午餐」結合了新鮮蛤蠣湯的豐富風味，同時滿足您對高纖維的營養需求，是一道營養均衡且美味的午餐選擇。</p>
          <div class="more">
            <a href="/robott/detailedRecipe">了解更多</a>
            <div class="icon">
              <div class="like">
                <i class="fa-solid fa-thumbs-up"></i>
                <span>99&ensp;</span>
              </div>
              <div class="share">
                <i class="fa-solid fa-share"></i>
                <span>10</span>
              </div>
            </div>
          </div>
        </div>

        <div class="ai-recipe-share">
          <img src="/static/images/food2.png" alt="">
          <div class="title">
            <img src="/static/images/user2.png" alt="">
            <h3>番茄蛋減糖魔法餐</h3>
          </div>
          <p>02.04.2024</p>
          <p>「番茄蛋糖減魔法餐」是一道精心設計的午餐，以減糖為主要特色，主要以新鮮的番茄和有機蛋為食材，烹飪時間僅需30分鐘以內。</p>
          <div class="more">
            <a href="/rebott/everyList/more">了解更多</a>
            <div class="icon">
              <div class="like">
                <i class="fa-solid fa-thumbs-up"></i>
                <span>99&ensp;</span>
              </div>
              <div class="share">
                <i class="fa-solid fa-share"></i>
                <span>10</span>
              </div>
            </div>
          </div>
        </div>

        <div class="ai-recipe-share">
          <img src="/static/images/food1.png" alt="">
          <div class="title">
            <img src="/static/images/user1.png" alt="">
            <h3>纖潤蛤蠣盛宴</h3>
          </div>
          <p>02.05.2024</p>
          <p>這款「海之芳饌 - 蛤蠣湯高纖午餐」結合了新鮮蛤蠣湯的豐富風味，同時滿足您對高纖維的營養需求，是一道營養均衡且美味的午餐選擇。</p>
          <div class="more">
            <a href="/rebott/everyList/more">了解更多</a>
            <div class="icon">
              <div class="like">
                <i class="fa-solid fa-thumbs-up"></i>
                <span>99&ensp;</span>
              </div>
              <div class="share">
                <i class="fa-solid fa-share"></i>
                <span>10</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>

  <footer id="footer-container"></footer>

  <script>
    let messageText = "{{data}}";

    window.onload = function() {
      renderNav();
      renderFooter();
    };

    document.addEventListener('DOMContentLoaded', function () {
      const menuIcon = document.getElementById('menuIcon');
      const closeIcon = document.getElementById('closeIcon');
      const sideBar = document.querySelector('.sideBar');

      menuIcon.addEventListener('click', function () {
        sideBar.classList.add('active');
      });

      closeIcon.addEventListener('click', function () {
        sideBar.classList.remove('active');
      });
    });
  </script>
</body>
</html>