<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>機器人問題一</title>
    <link href="/static/images/favicon.ico" rel="shortcut icon"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/base/reset.css">
    <link rel="stylesheet" href="/static/css/base/global.css">
    <link rel="stylesheet" href="/static/css/question/question_main.css">
    <link rel="stylesheet" href="/static/css/components/mousemove.css">
    <link rel="stylesheet" href="/static/css/components/dialog.css">
	<link rel="stylesheet" href="/static/css/layout/navbar.css">
    <script src="/static/js/question/question_n1.js" async></script>
    <script src="/static/components/mousemove.js" defer></script>
	<script src="/static/components/layout/navbar.js" defer></script>
    <script src="https://kit.fontawesome.com/ff1f69f5b7.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="myCursor"></div>
  <div id="circle"></div>

  <nav id="nav-container"></nav>

    <article>
        <section>
            <div class="gray">
                <div class="green-one"></div>
            </div>
            
            <div class="up">
                <div class="top">
                    <div class="title">
                        <img
                            loading="lazy"
                            srcset="/static/images/question/question_banana.png 100w, 
                            /static/images/question/question_banana.png 200w, 
                            /static/images/question/question_banana.png 400w, 
                            /static/images/question/question_banana.png 800w,
                            /static/images/question/question_banana.png 1200w, 
                            /static/images/question/question_banana.png 1600w, 
                            /static/images/question/question_banana.png 2000w,"
                        />

                        <div class = "title_icon">
                            <div>飲食法</div>
                            <i class="fa-regular fa-circle-question" id="openinfor"></i>
                        </div>
                        
                    </div>
                    <div class="input">
                        <p class = "question">
                            您對於飲食法有特別的偏好嗎？
                        </p>
                        <div>
                            <input type="text" id="tag-ip" class="text-border"
                            placeholder="例如：地中海飲食" />
                        </div>
                    </div>
                </div>

                <div class="tag-list">
                    <div class="tag-list-item"></div>
                    <div class="tag-list-item2"></div>
                </div>
            </div>

            <div class="next">
                <div class="line"></div>
                <div class="btn">
                    <i class="fa-solid fa-circle-arrow-left hide"></i>
                    <a id="continue-btn" class = "continue-btn">
                        繼續
                    </a>
                </div>
            </div>
        </section>
    </article>
    <dialog id="infor">
        <h1>飲食法簡介</h1>
        <div class="content">
            <h2>地中海飲食法</h2>
            <p>以蔬菜、水果、橄欖油、魚類和全穀雜糧為主，強調新鮮、天然的食材。</p>
            <h2>得舒飲食法</h2>
            <p>著重食用大量的蔬菜和水果，限制或避免動物性食品和加工食品的攝入，是一個降低血壓飲食治療方法。</p>
            <h2>彈性素食</h2>
            <p>結合了素食和非素食的元素，以植物性食物為主，但允許偶爾食用少量的動物性食物。</p>
            <h2>234飲食法</h2>
            <p>以每餐攝入500卡路里為原則，攝取的營養比例為：蛋白質佔25%、澱粉佔35%、脂肪佔40%。</p>
        </div>
        <div class="save">
            <button id="closeinfor" class="closebtn">close</button>
        </div>
    </dialog>
    

    <script>
        // 彈跳視窗 飲食法簡介
        let openinfor=document.getElementById('openinfor');
		let infor=document.getElementById('infor');
		let closeinfor=document.getElementById('closeinfor');
		openinfor.addEventListener("click", function(){
			infor.showModal();
		})
		closeinfor.addEventListener("click", function(){
			infor.close();
		})        
    </script>
</body>
</html>