<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>機器人問題五</title>
    <link href="/static/images/favicon.ico" rel="shortcut icon"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/base/reset.css">
    <link rel="stylesheet" href="/static/css/base/global.css">
    <link href="/static/css/question/question_main.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/components/mousemove.css">
	<link rel="stylesheet" href="/static/css/layout/navbar.css">
    <script src="/static/js/question/question_n5.js" async></script>
    <script src="/static/components/mousemove.js" defer></script>
	<script src="/static/components/layout/navbar.js" defer></script>
    <script src="https://kit.fontawesome.com/ff1f69f5b7.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="myCursor"></div>
  <div id="circle"></div>

  <nav id="nav-container"></nav>

    <article>
        <section>
            <div class="gray">
                <div class="green-five"></div>
            </div>
            
            <div class="up">
                <div class="top">
                    <div class="title">
                        <img
                            loading="lazy"
                            srcset="/static/images/question/question_banana.png 100w, 
                            /static/images/question/question_banana.png 200w, 
                            /static/images/question/question_banana.png 400w, 
                            /static/images/question/question_banana.png 800w,
                            /static/images/question/question_banana.png 1200w, 
                            /static/images/question/question_banana.png 1600w, 
                            /static/images/question/question_banana.png 2000w,"
                        />
                        <div>特殊飲食需求</div>
                    </div>
                    <div class="input">
                        <p class = "question">
                            你有特殊的飲食需求嗎？或對什麼過敏？
                        </p>
                        <div>
                            <input type="text" id="tag-ip" class="text-border"
                            placeholder="例如：素食、無乳製品、牛奶" />
                        </div>
                    </div>
                </div>

                <div class="tag-list">
                    <div class="tag-list-item"> </div>
                </div>
            </div>
            

            <div class="next">
                <div class="line"></div>
                <div class="btn">
                    <a href="/question/question_n4">
                        <i class="fa-solid fa-circle-arrow-left"></i>
                    </a>
                    <a id="continue-btn" class = "continue-btn">
                        繼續
                    </a>
                </div>
            </div>
        </section>
    </article>

    <script>
        
            
        
    </script>
</body>
</html>