article {
  background-color: #F0EAD2;
  padding: 10% 20% 5%;
  color: #495057;
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar > form {
  width: 100%;
}

.progress-bar > .level {
  border: #F47E93 5px solid;
  background-color: #FFF;
  padding: 20px 10px;
  border-radius: 50%;
  font-size: 1.5em;
  display: flex;
  align-items: center;
}

.progress-bar > .level > span {
  font-size: 0.5em;
}

progress{
  appearance: none;
  height: 10px;
  width: 100%;
}

progress::-webkit-progress-bar {
  background-color: #B3B3B3;
  border-radius: 5px;
}

progress::-webkit-progress-value {
  background-color: #F47E93;
  border-radius: 5px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}

.title .text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #BC6C25;
  font-weight: bold;
  font-size: 1.75em;
}

.title i {
  color: #D4A373;
}

.title .text > i {
  margin-right: 15px;
  color: #BC6C25;
}

.fa-angle-right {
  margin-left: 15px;
  font-size: 0.5em;
}

.titlecontent {
  display: flex;
  flex-direction: column;
  margin: 5% 0;
}

.eachtask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FCFAF1;
  padding: 2%;
  border-radius: 10px;
  margin-bottom: 2%;
  cursor: pointer;
  text-decoration: none;
}

.eachtask:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  transition: box-shadow 0.5s, transform 0.5s;
}

.eachtask p {
  width: fit-content;
  display: flex;
  flex-grow: 1;
}

.eachtask span {
  margin-left: 2%;
}

.eachtask i {
  color: #86BAA1;
  font-size: 1.2em;
}

.milestone,
.comment {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 5%;
  width: 100%;
}

.accumulation {
  position: relative;
  background-color: #FCFAF1;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  user-select:none;
}

.accumulation::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0; 
  background: linear-gradient(#b7e4c70f, #95d5b27b);
  transition: height 0.3s;
  color: #895737;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1em;
  line-height: 1.5;
  content: attr(data-label);
}

.accumulation:hover::before,
.accumulation.active::before {
  height: 100%;
}

.accumulation > i {
  font-size: 8em;
  color: #F7F4E7;
}

.accumulation h1 {
  position: absolute;
  z-index: 1;
  font-size: 5em;
  color: #BC6C25;
  transition: font-size 0.3s;
}

.accumulation:hover h1,
.accumulation.active h1 {
  font-size: 6em;
}

.accumulation .label {
  position: absolute;
  bottom: 10px;
  font-size: 1em;
  color: #BC6C25;
  opacity: 0;
  transition: opacity 0.3s;
  width: 100%;
  display: flex;
  justify-content: center;
}

.accumulation:hover .label,
.accumulation.active .label {
  opacity: 1;
}

.comment {
  margin-top: 2%;
  display: none;
}

.commentbtn {
  background-color: #FCFAF1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  padding: 6% 0;
  transition: background-color 0.3s;
}

.commentbtn:hover {
  background-color: #D4A373;
  color: #FCFAF1;
}

.saying {
  width: 100%;
  background-color: #FCFAF1;
  padding: 3%;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 5%;
  display: none;
}

.eachsay {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eachsay .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.eachsay .left h6 {
  font-size: 1.2em;
  font-weight: bold;
}

.eachsay .left > h6 > span,
.eachsay .date {
  font-size: 0.8em;
}

.saying .line {
  width: 100%;
  height: 1px;
  background-color: #F0EAD2;
  margin: 2% 0;
}

/* Large 1200px */

@media screen and (max-width:1200px) {
  article {
    padding: 10% 15% 5%;
  }
  
  .accumulation::before {
    font-size: 0.8em;
  }
  
  .accumulation > i {
    font-size: 5em;
  }

  .accumulation h1 {
    font-size: 4em;
  }
  
  .accumulation:hover h1 {
    font-size: 5em;
  }
}

/* Middle 1024px */

@media screen and (max-width:1024px) {
  article {
    padding: 10%;
  }

  .eachtask {
    padding: 2.5%;
  }
}

/* Small 768px */

@media screen and (max-width:768px) {
  article {
    background-color: #F0EAD2;
    padding: 15% 10% 5%;
  }

  .title {
    margin: 10% 0;
  }

  .eachtask {
    margin-bottom: 4%;
  }

  .milestone {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 5%;
    width: 100%;
  }
  
  .accumulation::before {
    font-size: 1em;
  }
  
  .accumulation > i {
    font-size: 8em;
  }

  .accumulation h1 {
    font-size: 5em;
  }
  
  .accumulation:hover h1 {
    font-size: 6em;
  }
}