<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/images/favicon.ico" rel="shortcut icon"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/base/reset.css">
  <link rel="stylesheet" href="/static/css/base/global.css">
  <link rel="stylesheet" href="/static/css/components/mousemove.css">
	<link rel="stylesheet" href="/static/css/layout/navbar.css">
  <link rel="stylesheet" href="/static/css/layout/footer.css">
  <link rel="stylesheet" href="/static/css/profile/followList.css">
  <script src="https://kit.fontawesome.com/d9f27795c1.js" crossorigin="anonymous"></script>
  <script src="/static/components/mousemove.js" defer></script>
	<script src="/static/components/layout/navbar.js" defer></script>
  <script src="/static/components/layout/footer.js" defer></script>
  <title>關注列表</title>
</head>
<body>
  <div id="myCursor"></div>
  <div id="circle"></div>

  <nav id="nav-container"></nav>

  <article>
    <div class="title">
      <i class="fa-solid fa-user-plus"></i>
      <h1>關注列表</h1>
    </div>

    <section>
      <div class="person">
        <div class="left">
          <img src="/static/images/user1.png" alt="">
          <h6>煙燻機</h6>
        </div>
        <i class="fa-solid fa-user-minus"></i>
      </div>
      <div class="person">
        <div class="left">
          <img src="/static/images/user1.png" alt="">
          <h6>煙燻機</h6>
        </div>
        <i class="fa-solid fa-user-minus"></i>
      </div>
      <div class="person">
        <div class="left">
          <img src="/static/images/user1.png" alt="">
          <h6>煙燻機</h6>
        </div>
        <i class="fa-solid fa-user-minus"></i>
      </div>
      <div class="person">
        <div class="left">
          <img src="/static/images/user1.png" alt="">
          <h6>煙燻機</h6>
        </div>
        <i class="fa-solid fa-user-minus"></i>
      </div>
      <div class="person">
        <div class="left">
          <img src="/static/images/user1.png" alt="">
          <h6>煙燻機</h6>
        </div>
        <i class="fa-solid fa-user-minus"></i>
      </div>
      <div class="person">
        <div class="left">
          <img src="/static/images/user1.png" alt="">
          <h6>煙燻機</h6>
        </div>
        <i class="fa-solid fa-user-minus"></i>
      </div>
    </section>
  </article>

  <footer id="footer-container"></footer>

  <script>
		let messageText = "{{data}}";

    window.onload = function() {
      renderNav();
      renderFooter();
    };
  </script>
</body>
</html>