<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/images/favicon.ico" rel="shortcut icon"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/base/reset.css">
  <link rel="stylesheet" href="/static/css/base/global.css">
  <link rel="stylesheet" href="/static/css/components/mousemove.css">
  <link rel="stylesheet" href="/static/css/components/dialog.css">
	<link rel="stylesheet" href="/static/css/layout/navbar.css">
  <link rel="stylesheet" href="/static/css/layout/footer.css">
  <link rel="stylesheet" href="/static/css/profile/profilepage.css">
  <script src="https://kit.fontawesome.com/d9f27795c1.js" crossorigin="anonymous"></script>
  <script src="/static/components/mousemove.js" defer></script>
	<script src="/static/components/layout/navbar.js" defer></script>
  <script src="/static/components/layout/footer.js" defer></script>
  <script src="/static/js/proflie/profliePage.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <title>個人檔案</title>
</head>
<body>
  <div id="myCursor"></div>
  <div id="circle"></div>

  <nav id="nav-container"></nav>

  <article>
    <section class="sectionwrap">
      <section class="profile">
        {% if profile_data[5] == '2' %}
        <div class="avatarFrame" >
          <img class="profile-picture" id="profilePicture" src="/static/images/userImage/{{uid}}/{{userImage}}" alt="Profile Picture">
          <div class="editAvatar" id="editAvatar">
            <i class="fa-solid fa-pen"></i> Edit
          </div>
        </div>
        {% else %}
        <div class="noAvatarFrame">
          <img class="profile-picture" id="profilePicture" src="/static/images/userImage/{{uid}}/{{userImage}}" alt="Profile Picture">
          <div class="editAvatar" id="editAvatar">
            <i class="fa-solid fa-pen"></i> Edit
          </div>
        </div>
        {% endif %}
        <input type="file" id="upload-picture" accept="image/*" style="display: none;">
        <div class="title">
          <input type="text" id="name" placeholder="輸入暱稱" value="{{ name }}">
          <i class="fa-solid fa-lock"></i>
        </div>
      </section>
  
      <section class="settings">
        <div class="progress-bar">
          <div class="level">
            <span>LV.</span>{{profile_data[0]}}
          </div>
          <form action="test.aspx" method="get">
            <progress value="{{profile_data[1] / profile_data[2]}}"></progress>
          </form>
          <div class="numerical">
            <div class="molecular">{{profile_data[1]}}</div>/
            <div class="denominator">{{profile_data[2]}}</div>
          </div>
        </div>

        <div class="container">
          <div class="out1">
            <div class="out2">
              <div class="gender">
                <div class="title">
                  <p>性別</p>
                  <i class="fa-solid fa-lock"></i>
                </div>    
                <div class="gbt">
                  <button type="button" id="maleButton" {% if profile_data[3] == 'M' %}style="border: 2px solid rgb(41, 123, 205);" class="selected" {% endif %}>男性</button>
                  <button type="button" id="femaleButton" {% if profile_data[3] == 'F' %}style="border: 2px solid rgb(194, 37, 116);" class="selected"{% endif %}>女性</button>
                </div>
              </div>
              <div class="birthday">
                <div class="title">
                  <p>生日</p>
                  <i class="fa-solid fa-lock"></i>
                </div>   
                <input type="date" id="birthday" value="{{ profile_data[4] }}">
              </div>
            </div>

            <div class="lists">
              <a href="/profile/collectionList">食譜收藏</a>
              <a href="/profile/QAcollection">Q&A收藏</a>
            </div>
          </div>

          <div class="closesetting">
            <button id="openapplynutritionist">申請營養師身分</button>
            <button id="changeButton">變更個資</button>
          </div>

          <dialog id="applynutritionist">
            <h1>申請營養師身分</h1>
            <div class="content">
              <h2>所屬工會</h2>
              <select name="" id="">
                <option value="">中華民國營養師公會全國聯合會 - 臺北市</option>
                <option value="">中華民國營養師公會全國聯合會 - 新北市</option>
                <option value="">中華民國營養師公會全國聯合會 - 桃園市</option>
                <option value="">中華民國營養師公會全國聯合會 - 新竹市</option>
                <option value="">中華民國營養師公會全國聯合會 - 臺中市</option>
                <option value="">中華民國營養師公會全國聯合會 - 彰化縣</option>
                <option value="">中華民國營養師公會全國聯合會 - 南投縣</option>
                <option value="">中華民國營養師公會全國聯合會 - 雲林縣</option>
                <option value="">中華民國營養師公會全國聯合會 - 嘉義市</option>
                <option value="">中華民國營養師公會全國聯合會 - 臺南市</option>
                <option value="">中華民國營養師公會全國聯合會 - 高雄市</option>
                <option value="">中華民國營養師公會全國聯合會 - 屏東縣</option>
                <option value="">中華民國營養師公會全國聯合會 - 基隆市</option>
                <option value="">中華民國營養師公會全國聯合會 - 宜蘭縣</option>
                <option value="">中華民國營養師公會全國聯合會 - 花蓮縣</option>
              </select>
              <h2>上傳證照</h2>
              <div class="a-upload" id="fileNames">
                <input type="file" name="file" id="file1">
                <i class="fa-solid fa-folder"></i>
              </div>
            </div>
            <div class="save">
              <button id="closeapplynutritionist" class="closebtn">cancel</button>
              <button id="saveapplynutritionist" class="savebtn">confirm</button>
            </div>
          </dialog>

          <dialog id="loginDialog">
            <h1>請先登入</h1>
            <div class="contentsave">
              <button class="savebtn" onclick="window.location.href='/login/loginPage'">login</button>
            </div>
          </dialog>
        </div>
      </section>
    </section>
  </article>

  <footer id="footer-container"></footer>

  <script>
		let messageText = "{{name}}";
    let userImage = "{{userImage}}"
    let uid = "{{uid}}"

    window.onload = function() {
      renderNav();
      renderFooter();

      if (messageText == "0") {
        document.getElementById("loginDialog").showModal();
      }
    };

    document.getElementById('file1').addEventListener('change', function() {
      var fileInput = this;
      var files = fileInput.files;
      var fileNames = document.getElementById('fileNames');
      fileNames.innerHTML = ""; // 清空之前的文件名

      for (var i = 0; i < files.length; i++) {
        var fileName = files[i].name;
        var div = document.createElement('div');
        div.textContent = "文件名：" + fileName;
        fileNames.appendChild(div);
      }
    });

    $("body").on("change", ".a-upload input[type='file']", function(){
      var filePath = $(this).val();
      var $pen = $(this).closest(".pen");
      if (filePath.indexOf("jpg") != -1 || filePath.indexOf("png") != -1) {
        $pen.find(".fileerrorTip").html("").hide();
        var arr = filePath.split('\\');
        var fileName = arr[arr.length-1];
        $pen.find(".showFileName").html("文件名：" + fileName);
      } else {
        $pen.find(".showFileName").html("");
        $pen.find(".fileerrorTip").html("非jpg,png格式：您未上傳文件，或者您上傳文件類型有誤！").show();
        return false;
      }
    });

    // 修改頭像
    document.addEventListener('DOMContentLoaded', function() {
        const editAvatar = document.getElementById('editAvatar');
        const uploadPicture = document.getElementById('upload-picture');
        const profilePicture = document.getElementById('profilePicture');

        // 當點選「Edit」按鈕時，觸發檔案選擇對話框
        editAvatar.addEventListener('click', function() {
            uploadPicture.click();
        });

        // 當選擇檔案後，顯示新圖片
        uploadPicture.addEventListener('change', function(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    profilePicture.src = e.target.result;
                    document.getElementById('userImage').src = e.target.result;
                    
                    // 上傳圖片
                    const formData = new FormData();
                    formData.append('file', file);
                    
                    $.ajax({
                        url: '/profile/uploadImage',
                        type: 'POST',
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function(response) {
                            console.log(response);
                        },
                        error: function(xhr, status, error) {
                            console.error(error);
                        }
                    });
                };
                reader.readAsDataURL(file);
            }
        });
    });

  </script>
</body>
</html>