nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1% 0;
  background-color: #FCFAF1;
  z-index: 1000;
  box-shadow: 2px 2px 10px 2px #be987149;
}

.area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #6E3D0D;
  flex: 1;
  margin-left: 5%;
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 5%;
}

.middle {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap a,
.logSign a {
  text-decoration: none;
  color: #6E3D0D;
}

.wrap .active {
  color: #FFCF56;
}

.icon {
  display: none;
}

.logSign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  margin-right: 5%;
}

.logSign :last-child {
  padding: 4%;
  border: #6E3D0D 1px solid;
  border-radius: 10px;
  margin-left: 5%;
}

.sideBar {
  display: none;
}

.sideBar a {
  text-decoration: none;
  margin: 15px 0px;
  padding: 0px 50px;
  cursor: pointer;
  color: #FCFAF1;
}

/* X-Large 1440px */

@media screen and (max-width:1440px) {
  .logSign :last-child {
    padding: 3%;
  }
}

/* Large 1200px */

@media screen and (max-width:1200px) {
  .wrap {
    width: 75%;
  }
}

/* Medium 1024px */

@media screen and (max-width:1024px) {
  nav {
    padding: 2% 0;
  }

  .logo {
    display: none;
  }

  .wrap {
    width: 75%;
  }
}

/* Small 768px */

@media screen and (max-width:768px) {
  .middle {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .wrap {
    display: none;
  }

  .icon {
    display: block;
    margin-left: 10%;
    font-size: 25px;
    color: #6E3D0D;
    cursor: pointer;
  }

  .icon #closeIcon {
    display: none;
  }

  .sideBar {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    position: sticky;
    z-index: 0;
    height: calc(100vh - 80px);
    left: 0;
    width: 35%;
    background-color: #faf7ed;
    box-shadow: -3px 0px 3px 1px #afafaf34;
    padding-top: 3%;
  }
}