article {
  background-color: #F0EAD2;
  padding: 10% 20% 5%;
}

/* check-in */

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.75em;
}

.top > .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #BC6C25;
  font-weight: bold;
}

.top > .title > i {
  margin-right: 15px;
}

.top > button,
.top > .btn > button,
.input > button {
  border: none;
  background-color: #86BAA1;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5em;
  color: #FFF;
  cursor: pointer;
}

.top > button i,
.top > .btn > button i {
  color: #FFF;
}

.check-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2%;
  gap: 3%;
}

.check-box > .item,
.add-check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #FFF;
  border-radius: 10px;
  margin-top: 3%;
}

/* weight_change */

.weight_change {
  margin-top: 10%;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}

.input {
  margin-top: 5%;
  display: flex;
  align-items: center;
}

.input input {
  border: none;
  padding: 1.5%;
  border-radius: 10px;
}

canvas {
  margin-top: 5%;
  width: 100%;
}

/* contrast */

.contrast {
  margin-top: 10%;
}

.contrast > .top > button {
  border: none;
  background-color: #86BAA1;
  height: 100%;
  width: fit-content;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5em;
  color: #FFF;
  cursor: pointer;
  padding: 10px 15px;
  gap: 5px;
}

.photo {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.photo > i {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #BC6C25;
  font-size: 1.5em;
}

.before,
.after {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 4;
}

.container {
  position: relative;
  display: inline-block;
}

.text {
  background-color: transparent;
  position: relative;
  z-index: 2;
  color: #495057;
  text-align: center;
}

.background {
  position: absolute;
  top: 50%;
  z-index: 1;
  background-color: #F2CC8F;
  width: 100%;
}

.custom-input {
  position: relative;
  display: inline-block;
  width: 100%; 
  height: 400px;
  border-radius: 20px;
  background-color: #FCFAF1;
  overflow: hidden;
  cursor: pointer;
  object-fit: cover;
  margin: 10% 0 5%;
}

.custom-input input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-input .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  color: #495057;
}

.custom-input img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.edit {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #495057;
}

.edit > .left {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.edit > .left > button {
  border: none;
  background-color: #86BAA1;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5em;
  color: #FFF;
  cursor: pointer;
}

.edit > .left > button:nth-of-type(2) {
  border: none;
  background-color: #BC4749;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5em;
  color: #FFF;
  cursor: pointer;
}

/* Medium 1024px */

@media screen and (max-width:1024px) {
  article {
    padding: 15% 15% 5%;
  }

  dialog{
    padding: 5%;
    width: 50vw;
  }
}

/* Small 768px */

@media screen and (max-width:768px) {
  article {
    padding: 20% 15% 5%;
  }

  dialog{
    width: 70vw;
  }
}

/* X-Small 480px */

@media screen and (max-width:480px) {
  article {
    padding: 25% 15% 10%;
  }
}