body {
  background-color: #F0EAD2;
}

article {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10% 0 5%;
}

main {
  width: 50%;
}

main h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: #BC6C25;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search,
.rwdsearch {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  gap: 10px;
}

.search {
  display: flex;
}

.rwdsearch {
  display: none;
}

.search input,
.rwdsearch input {
  border: none;
  border-radius: 10px;
  padding: 10px;
  flex: 1;
  background-color: #FFF;
  box-sizing: border-box;
  color: #495057;
}

.rwdsearch .left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.rwdsearch .left .top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search button,
.rwdsearch button {
  border: none;
  background-color: #6E3D0D;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5em;
  color: #FFF;
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: 5%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 15px 0;
}

table th {
  text-align: left;
  padding: 10px 0;
  border-bottom: 1px solid #6E3D0D;
  box-sizing: border-box;
}

table td {
  padding: 20px 0;
  box-sizing: border-box;
}

th:nth-child(1),
td:nth-child(1) {
  width: 20%;
  text-align: left;
}

th:nth-child(3),
td:nth-child(3),
th:nth-child(4),
td:nth-child(4) {
  width: 5%;
  text-align: center;
}

th:nth-child(2),
td:nth-child(2) {
  width: 75%;
}

.fa-pen {
  color: #6E3D0D;
}

.fa-trash-can {
  color: #FF3333;
}

/* Medium 1024px */

@media screen and (max-width:1024px) {
  article {
    padding: 15% 0 5%;
  }

  main {
    width: 60%;
  }
}

/* Small 768px */

@media screen and (max-width:768px) {
  article {
    padding: 20% 0 5%;
  }

  main {
    width: 70%;
  }
}

/* X-Small 480px */

@media screen and (max-width:480px) {
  article {
    padding: 30% 0 10%;
  }

  main {
    width: 80%;
  }

  .search {
    display: none;
  }

  .rwdsearch {
    display: flex;
    margin-top: 10%;
  }

  .search .left,
  .search .right {
    width: 45%;
    font-size: 12px;
  }

  table tr:nth-of-type(1) {
    display: none;
  }

  td:nth-child(1) {
    width: 55%;
  }

  td:nth-child(2) {
    width: 35%;
  }

  td:nth-child(3),
  td:nth-child(4) {
    width: 5%;
  }
}