#footer-container {
  padding: 0;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #588157;
  padding: 2% 0;
  color: #FFF;
}

footer img {
  margin-bottom: 2%;
  width: 5%;
  height: 5%;
  border-radius: 5px;
}

footer p {
  font-size: 1em;
  margin: 0;
}

/* Medium 1024px */

@media screen and (max-width:1024px) {
  footer img {
    display: none;
  }
}

/* Small 768px */

@media screen and (max-width:768px) {
  footer {
    padding: 3% 0;
  }

  footer p {
    font-size: 0.75em;
    margin: 0;
  }
}

/* X-Small 480px */

@media screen and (max-width:480px) {
  footer {
    padding: 4% 0;
  }
}