nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1% 0;
  background-color: #FCFAF1;
  z-index: 1000;
  box-shadow: 2px 2px 10px 2px #be987149;
}

nav .area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .area .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  margin-left: 5%;
  cursor: pointer;
}

nav .area .logo h1 {
  color: #6E3D0D;
  transition: color 0.3s ease;
}

nav .area .logo img {
  max-width: 100%;
  max-height: 100%;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 5%;
}

/* middle */

nav .middle {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .middle .wrap {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .middle .wrap a,
.logSign a {
  text-decoration: none;
  color: #6E3D0D;
  border-bottom: none;
  transition: color 0.3s ease;
}

nav .middle .icon {
  display: none;
}

/* logSign */

nav .logSign {
  display: none;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  margin-right: 5%;
}

nav .logSign :last-child {
  padding: 3%;
  border: #6E3D0D 1px solid;
  border-radius: 10px;
  margin-left: 5%;
}

/* alreadyLogin */

nav .alreadyLogin {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  margin-right: 5%;
}

.alreadyLogin a {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  flex-grow: 1;
}

.alreadyLogin a img {
  max-width: 100%;
  max-height: 100%;
  width: 15%;
  height: auto;
}

.alreadyLogin a h3 {
  font-size: 1em;
  color: #6E3D0D;
  margin: 0 5%;
  transition: color 0.3s ease;
}

.alreadyLogin i {
  font-size: 1em;
  color: #6E3D0D;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* sideBar */
.sideBar {
  display: none;
}

.sideBar a {
  text-decoration: none;
  margin: 15px 0px;
  padding: 0px 50px;
  cursor: pointer;
  color: #6E3D0D;
  transition: color 0.3s ease;
}

nav .middle .wrap a:hover,
nav .area .logo h1:hover,
.logSign a:hover,
.alreadyLogin h3:hover,
.alreadyLogin i:hover,
.sideBar a:hover {
  color: #FFCF56;
}

/* X-Large 1440px */

@media screen and (max-width:1440px) {
  nav .logSign :last-child {
    padding: 3%;
  }
}

/* Large 1200px */

@media screen and (max-width:1200px) {
  nav .middle .wrap {
    width: 75%;
  }
}

/* Medium 1024px */

@media screen and (max-width:1024px) {
  nav {
    padding: 2% 0;
  }

  nav .area .logo {
    display: none;
  }

  nav .middle .wrap {
    width: 75%;
  }
}

/* Small 768px */

@media screen and (max-width:768px) {
  nav .middle {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  nav .middle .wrap {
    display: none;
  }

  nav .middle .icon {
    display: block;
    margin-left: 10%;
    font-size: 25px;
    color: #6E3D0D;
    cursor: pointer;
  }

  nav .middle .icon #closeIcon {
    display: none;
  }

  .sideBar {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    z-index: 500;
    height: 100vh;
    left: 0;
    width: auto;
    background-color: #faf7ed;
    box-shadow: 2px 2px 10px 2px #be987149;
    padding-top: 10%;
  }
}

/* X-Small 480px */

@media screen and (max-width:480px) {
  nav {
    padding: 5% 0;
  }
}