nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: #FCFAF1;
  z-index: 1000;
  box-shadow: 2px 2px 10px 2px #be987149;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .area .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  margin-left: 5%;
  cursor: pointer;
}

nav .area .logo h1 {
  color: #6E3D0D;
  transition: color 0.3s ease;
}

nav .area .logo img {
  max-width: 100%;
  max-height: 100%;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 5%;
}

/* middle */

nav .middle {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .middle .wrap {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .middle .wrap a,
.logSign a {
  text-decoration: none;
  color: #6E3D0D;
  border-bottom: none;
  transition: color 0.3s ease;
}

nav .middle .icon {
  display: none;
}

/* logSign */

nav .logSign {
  display: none;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  margin-right: 5%;
}

nav .logSign :last-child {
  padding: 3%;
  border: #6E3D0D 1px solid;
  border-radius: 10px;
  margin-left: 5%;
}

/* alreadyLogin */

nav .alreadyLogin {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  margin-right: 5%;
}

.alreadyLogin a {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  flex-grow: 1;
}

.alreadyLogin a img {
  max-width: 100%;
  max-height: 100%;
  width: 15%;
  height: auto;
}

.alreadyLogin a h3 {
  font-size: 1em;
  color: #6E3D0D;
  margin: 0 5%;
  transition: color 0.3s ease;
}

.alreadyLogin i {
  font-size: 1em;
  color: #6E3D0D;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* sideBar */

.sideBar {
  padding: 80px 50px 0;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  z-index: 500;
  height: 100vh;
  left: 0;
  width: fit-content;
  background-color: #faf7ed;
  box-shadow: 2px 2px 10px 2px #be987149;
}

.sideBar .nav {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sideBar .nav a {
  text-decoration: none;
  cursor: pointer;
  color: #6E3D0D;
  transition: color 0.3s ease;
}

nav .middle .wrap a:hover,
nav .area .logo h1:hover,
.logSign a:hover,
.alreadyLogin h3:hover,
.alreadyLogin i:hover,
.sideBar a:hover {
  color: #FFCF56;
}

.sideBarcomunitynav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sideBarcomunitynav h6 {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 10px 0;
  cursor: pointer;
  color: #6E3D0D;
  transition: color 0.3s ease;
}

.sideBarcomunitynav select {
  border: none;
  border-bottom: #6E3D0D 1px solid;
  background-color: transparent;
  padding: 10px 2px;
  font-size: 1em;
}

.sideBarcomunitynav .search {
  position: relative;
  display: flex;
  align-items: center;
}

.sideBarcomunitynav .search input {
  width: 100%;
  border: none;
  border-bottom: #6E3D0D 1px solid;
  background-color: transparent;
  padding: 10px 2px;
  font-size: 1em;
}

.sideBarcomunitynav .search i {
  position: absolute;
  right: 0;
  color: #6E3D0D;
}

/* comunitynav */

.comunitynav {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  padding: 10px 5%;
  box-sizing: border-box;
  background-color: #FCFAF1;
  z-index: 999;
  box-shadow: 2px 2px 10px 2px #be987149;
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  font-size: 1em;
}

.comunitynav .category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.comunitynav select {
  border: none;
  border-bottom: #6E3D0D 1px solid;
  background-color: transparent;
  padding: 10px 2px;
  flex: 1;
  font-size: 1em;
}

.comunitynav .search {
  flex: 8;
  position: relative;
  display: flex;
  align-items: center;
}

.comunitynav .search input {
  width: 100%;
  border: none;
  border-bottom: #6E3D0D 1px solid;
  background-color: transparent;
  padding: 10px 2px;
  font-size: 1em;
}

.comunitynav .search i {
  position: absolute;
  right: 0;
  color: #6E3D0D;
}

/* X-Large 1440px */

@media screen and (max-width:1440px) {
}

/* Large 1200px */

@media screen and (max-width:1200px) {
  nav .middle .wrap {
    width: 80%;
  }
}

/* Medium 1024px */

@media screen and (max-width:1024px) {
  nav {
    padding: 0;
    height: 80px;
  }

  nav .area .logo {
    display: none;
  }

  nav .middle .wrap {
    width: 85%;
  }

  .comunitynav {
    top: 80px;
  }
}

/* Small 768px */

@media screen and (max-width:768px) {
  nav {
    padding: 0;
    height: 80px;
  }

  nav .middle {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  nav .middle .wrap,
  nav .middle .icon #closeIcon,
  .comunitynav {
    display: none;
  }

  nav .middle .icon {
    display: block;
    margin-left: 10%;
    font-size: 25px;
    color: #6E3D0D;
    cursor: pointer;
  }
}

/* X-Small 480px */

@media screen and (max-width:480px) {
  nav {
    padding: 5% 0;
  }
}