body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('loginbk.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: white;
  padding: 20px;
  width: 20%;
  height: 250px;
  border-radius: 8px;
  text-align: center;
}

.login-container h1 {
  text-align: left; /* 文字靠左對齊 */
  margin: 10px 0px 60px;
}

/* 定義按鈕樣式 */
.google-login-button {
  background-color: #ffffff; /* 背景顏色 */
  width: 80%;
  height: 50px;
  color: #0f65aa; /* 文字顏色 */
  padding: 10px 20px; /* 內邊距 */
  font-size: 18px; /* 字體大小 */
  border: none; /* 移除邊框 */
  border-radius: 5px; /* 圓角 */
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);/*整個陰影*/
  cursor: pointer; /* 指標類型 */
  justify-content: center; /* 水平居中 */
  transition: background-color 0.3s ease; /* 添加過渡效果 */
  background-image: url('gicon.png'); /* 圖片 URL */
  background-size: 20px; /* 圖片大小 */
  background-repeat: no-repeat; /* 不重複背景圖片 */
  background-position: 10px center; /* 圖片位置 */
}

.google-login-button:hover {
  background-color: #0f65aa; /* 懸停時的背景顏色 */
  color: #ffffff; /* 文字顏色 */
}

.word h1{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left; /* 文字居中對齊 */
  color: #ffffff; /* 文字顏色 */
  font-size: 10rem; /* 字體大小 */
  margin: 0% 0% 10% 0%;
}
.word h2{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left; /* 文字居中對齊 */
  color: #ffffff; /* 文字顏色 */
  font-size: 10rem; /* 字體大小 */
  margin: 0% 0% 0% 0%;
}