<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/images/favicon.ico" rel="shortcut icon"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/base/reset.css">
  <link rel="stylesheet" href="/static/css/base/global.css">
  <link rel="stylesheet" href="/static/css/components/mousemove.css">
	<link rel="stylesheet" href="/static/css/layout/navbar.css">
  <link rel="stylesheet" href="/static/css/layout/footer.css">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <link rel="stylesheet" href="/static/css/community/airecipePost.css">
  <link rel="stylesheet" href="/static/css/components/loading.css">
  <script src="https://kit.fontawesome.com/d9f27795c1.js" crossorigin="anonymous"></script>
  <script src="/static/components/mousemove.js" defer></script>
	<script src="/static/components/layout/navbar.js" defer></script>
  <script src="/static/components/layout/footer.js" defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <title>提問...</title>
</head>
<body>
  <div id="myCursor"></div>
  <div id="circle"></div>

  <nav id="nav-container"></nav>

  <article>
    <section>
      <div class="title">
        <i class="fa-solid fa-paper-plane"></i>
        <h1>提問</h1>
      </div>

      <form>
        <div class="pen">
          <h3>標題(30字以內)</h3>
          <input type="text" required>
        </div>

        <div class="pen">
          <h3>內文</h3>
          <textarea type="text" cols="30" rows="10" required></textarea>
        </div>

        <div class="pen">
          <div class="title">
            <h3>圖片(最多五張)</h3>
            <label for="fileInput" class="add-file-btn"><i class="fa-solid fa-plus"></i></label>
            <input type="file" id="fileInput" multiple accept="image/*" style="display: none;">
          </div>
          <div class="carousel" id="carousel"></div>
        </div>

        <div class="btn">
          <input type="submit" value="發佈" class="submit-btn">
        </div>
      </form>
    </section>

    <div id="loading" style="display: none;">
      <div class="loader2"></div>
    </div>
  </article>

  <footer id="footer-container"></footer>

  <script>
    let messageText = "{{name}}";
    let userImage = "{{userImage}}"
    let uid = "{{uid}}"
    let uploadCount = 2;

    window.onload = function() {
      renderNav();
      renderFooter();
    };

    // 圖片處理
    document.addEventListener('DOMContentLoaded', function() {
      const carouselElement = document.getElementById('carousel');
      const maxFiles = 5;

      const flkty = new Flickity(carouselElement, {
        cellAlign: 'left',
        contain: true,
        pageDots: true,
        wrapAround: false,
        imagesLoaded: true
      });

      document.getElementById('fileInput').addEventListener('change', function(event) {
        const files = event.target.files;
        if (flkty.cells.length + files.length > maxFiles) {
          alert('最多只能上傳五張照片');
          return;
        }

        let newIndex = flkty.cells.length;
        for (let i = 0; i < files.length; i++) {
          const file = files[i];
          const reader = new FileReader();

          reader.onload = function(e) {
            const cellDiv = document.createElement('div');
            cellDiv.classList.add('carousel-cell');

            const imgElement = document.createElement('img');
            imgElement.src = e.target.result;

            const removeBtn = document.createElement('button');
            removeBtn.classList.add('remove-btn');
            removeBtn.innerHTML = '<i class="fa-solid fa-trash"></i>';
            removeBtn.addEventListener('click', () => {
              flkty.remove(cellDiv);
              flkty.reloadCells();
            });

            const editBtn = document.createElement('button');
            editBtn.classList.add('edit-btn');
            editBtn.innerHTML = '<i class="fa-solid fa-edit"></i>';
            editBtn.type = 'button';
            editBtn.addEventListener('click', () => {
              const newFileInput = document.createElement('input');
              newFileInput.type = 'file';
              newFileInput.accept = 'image/*';
              newFileInput.style.display = 'none';
              document.body.appendChild(newFileInput);

              newFileInput.addEventListener('change', (e) => {
                const newFile = e.target.files[0];
                const newReader = new FileReader();

                newReader.onload = function(ev) {
                  imgElement.src = ev.target.result;
                };

                newReader.readAsDataURL(newFile);
                document.body.removeChild(newFileInput);
              });

              newFileInput.click();
            });

            cellDiv.appendChild(imgElement);
            cellDiv.appendChild(editBtn);
            cellDiv.appendChild(removeBtn);
            flkty.append(cellDiv);

            if (i === files.length - 1) {
              flkty.selectCell(newIndex, true);
            }
          };

          reader.readAsDataURL(file);
        }
      });
    });

    // 提交表單
    document.addEventListener('DOMContentLoaded', function() {
      const form = document.querySelector('form');
      form.addEventListener('submit', function(event) {
        event.preventDefault();

        const title = form.querySelector('input[type="text"]').value;
        const content = form.querySelector('textarea').value;
        
        const imgElements = document.querySelectorAll('.carousel-cell img');

        const formData = new FormData();

        formData.append('title', title);
        formData.append('content', content);

        imgElements.forEach(imgElement => {
          const imgSrc = imgElement.src;
          const imgFile = dataURLtoFile(imgSrc, 'image.jpg');
          formData.append('files[]', imgFile);
        });

        function dataURLtoFile(dataURI) {
          var byteString = atob(dataURI.split(',')[1]);

          var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

          var ab = new ArrayBuffer(byteString.length);
          var ia = new Uint8Array(ab);
          for (var i = 0; i < byteString.length; i++) {
              ia[i] = byteString.charCodeAt(i);
          }

          return new Blob([ab], {type: mimeString});
        }
      
        $.ajax({
          url: '/community/postQuestion',
          type: 'POST',
          data: formData,
          contentType: false,
          processData: false,
          beforeSend: function() {
            document.getElementById("loading").style.display = "flex";
          },
          success: function(data) {
            window.location.href = `/community/communityMain`;
          },
          error: function() {
            alert('發生錯誤，請稍後再試');
          }
        });
      });
    });
  </script>
</body>
</html>