<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/images/favicon.ico" rel="shortcut icon"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/base/reset.css">
  <link rel="stylesheet" href="/static/css/base/global.css">
  <link rel="stylesheet" href="/static/css/components/mousemove.css">
  <link rel="stylesheet" href="/static/css/components/dialog.css">
	<link rel="stylesheet" href="/static/css/layout/navbar.css">
  <link rel="stylesheet" href="/static/css/layout/footer.css">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <link rel="stylesheet" href="/static/css/community/detailedPost.css">
  <link rel="stylesheet" href="/static/css/components/loading.css">
  <script src="https://kit.fontawesome.com/d9f27795c1.js" crossorigin="anonymous"></script>
  <script src="/static/components/mousemove.js" defer></script>
	<script src="/static/components/layout/navbar.js" defer></script>
  <script src="/static/components/layout/footer.js" defer></script>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <title>單一貼文</title>
</head>
<body>
  <div id="myCursor"></div>
  <div id="circle"></div>

  <nav id="nav-container"></nav>

  <article>
    <section>
      <div class="pocontent">
        <div class="top">
          <div class="left">
            <img class="photostickers" src="/static/images/userImage/{{question[1]}}/{{question[8]}}" alt="">
            <h1>{{ question[9] }}</h1>
            <span>{{ question[7].strftime('%Y/%m/%d %H:%M') }}</span>
          </div>
          <div class="right">
            {% if question[1] == uid %}
              <i class="fa-regular fa-trash-can" id="opendelete"></i>
              <a href="/community/updatePost?question_id={{ question[0] }}">
                <i class="fa-regular fa-pen-to-square"></i>
              </a>
            {% else %}
              <i class="fa-regular fa-bookmark" id="opencollect"></i>
              <i class="fa-solid fa-triangle-exclamation" id="openreport"></i>
            {% endif %}
          </div>
        </div>
        <div class="middle">
          <h1>{{ question[2] }}</h1>
          <div class="textcontent detailQnA">
            <p>{{ question[3] }}</p>
          </div>
        </div>
        {% if question[4] and question[14] %}
        <div class="carousel" data-flickity='{ "cellAlign": "left" }'>
          {% for image in question[10] %}
          <div class="carousel-cell">
            <img src="/static/images/community/{{question[1]}}/{{question[4]}}/{{image}}" alt="">
          </div>
          {% endfor %}
        </div>
        {% endif %}
        <div class="line"></div>
        {% if question[1] != uid and is_nutritionist == '2' %}
        <div class="bottom">
          <input type="text" placeholder="說點什麼吧！" id="messageInput">
          <button type="submit"><i class="fa-regular fa-paper-plane"></i></button>
        </div>
        {% endif %}
        <div class="comment">
          {% for answer in answer %}
          <div class="each" data-id="{{ answer[0] }}">
            <div class="top">
              {% if loop.first and question[5] is not none %}
              <div class="bestoptimal">
                <i class="fa-solid fa-crown"></i>
                <p>最佳解</p>
              </div>
              <button class="optimal" style="display: none;">設為最佳解</button>
              <div class="right">
                <p>{{ answer[5].strftime('%Y/%m/%d') }}</p>
                <img class="photostickers" src="/static/images/userImage/{{answer[1]}}/{{answer[6]}}" alt="">
              </div>
              {% elif question[1] == uid %}
              <button class="optimal">設為最佳解</button>
              <div class="right">
                <p>{{ answer[5].strftime('%Y/%m/%d') }}</p>
                <img class="photostickers" src="/static/images/userImage/{{answer[1]}}/{{answer[6]}}" alt="">
              </div>
              {% else %}
              <div class="right">
                <img class="photostickers" src="/static/images/userImage/{{answer[1]}}/{{answer[6]}}" alt="">
                <p>{{ answer[5].strftime('%Y/%m/%d') }}</p>
              </div>
              {% endif %}
            </div>
            <div class="bottom">
              {{ answer[3] }}
            </div>
          </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </section>

    <div id="loading" style="display: none;">
      <div class="loader2"></div>
    </div>
  </article>

  <dialog id="delete">
    <h1>確定刪除貼文?</h1>
    <div class="contentsave">
      <button id="closedelete" class="closebtn">cancel</button>
      <button id="savedelete" class="savebtn">confirm</button>
    </div>
  </dialog>

  <dialog id="collect">
    <h1>編輯分類</h1>
    <div class="content">
      {% for d in keep %}
      <div class="eachclass">
        <div class="left">
          <input type="checkbox" id="scales" name="scales" {% if d[2] != 0 %}checked{% endif %} />
          <label for="scales" data-id="{{ d[0] }}">{{ d[1] }}</label>
        </div>
        <div class="num">({{ d[3] }}篇)</div>
      </div>
      {% endfor %}
    </div>
    <div class="save">
      <button id="closecollect" class="closebtn closecollect">close</button>
      <button id="savecollect" class="savebtn savecollect">save</button>
    </div>
  </dialog>

  <dialog id="report">
    <h1>檢舉</h1>
    <div class="content">
      <h2>檢舉原因</h2>
      <div class="reasons">
        <div class="eachreason">
          <input type="checkbox" id="scales" name="1" checked />
          <label for="scales">不實資訊</label>
        </div>
        <div class="eachreason">
          <input type="checkbox" id="scales" name="2" />
          <label for="scales">違反公共秩序善良風俗</label>
        </div>
        <div class="eachreason">
          <input type="checkbox" id="scales" name="3" />
          <label for="scales">違反法律</label>
        </div>
        <div class="eachreason">
          <input type="checkbox" id="scales" name="4" />
          <label for="scales">垃圾信息或廣告</label>
        </div>
        <div class="eachreason">
          <input type="checkbox" id="scales" name="otherScales" />
          <label for="scales">其他(請填在下方空格)</label>
        </div>
      </div>
      <textarea rows="5"></textarea>
    </div>
    <div class="save">
      <button id="closereport" class="closebtn">cancel</button>
      <button id="savereport" class="savebtn">confirm</button>
    </div>
  </dialog>

  <footer id="footer-container"></footer>

  <script>
		let messageText = "{{name}}";
    let userImage = "{{userImage}}"
    let uid = "{{uid}}"

    window.onload = function() {
      renderNav();
      renderFooter();
    };

    // 文章可以顯示斷行
    document.addEventListener('DOMContentLoaded', () => {
      const questions = document.querySelectorAll('.textcontent.detailQnA p');

      questions.forEach(question => {
        let formattedText = question.innerHTML.replace(/<br\s*\/?>/gi, '\n');
        question.innerText = formattedText;
      });
    });

    document.addEventListener('DOMContentLoaded', function() {
      const bottomElements = document.querySelectorAll('.bottom');

      bottomElements.forEach(bottomElement => {
        let formattedText = bottomElement.innerHTML.replace(/\n/g, '<br>');
        bottomElement.innerHTML = formattedText;
      });
    });
	
    // 收藏
    document.addEventListener('DOMContentLoaded', function() {
      const collect = document.getElementById('collect');
      const openCollectButton = document.getElementById('opencollect');
      const saveCollectButton = document.getElementById('savecollect');
      const closeCollectButton = document.getElementById('closecollect');
      const bookmarkIcon = document.getElementById('opencollect');

      let oldSelect = [];
      let newSelect = [];

      openCollectButton.addEventListener('click', function() {
        collect.showModal();
        collect.scrollTop = 0;
        oldSelect = [];
        document.querySelectorAll('#collect .eachclass input[type="checkbox"]').forEach(checkbox => {
          if (checkbox.checked) {
            oldSelect.push(checkbox.parentElement.querySelector('label').textContent);
          }
        });
      });

      saveCollectButton.addEventListener('click', function() {
        newSelect = [];
        const itemsToUpdate = {};

        document.querySelectorAll('#collect .eachclass input[type="checkbox"]').forEach(checkbox => {
          const label = checkbox.parentElement.querySelector('label').textContent;
          if (checkbox.checked) {
            newSelect.push(label);
            itemsToUpdate[label] = (itemsToUpdate[label] || 0) + 1;
          }
        });

        const addedItems = newSelect.filter(item => !oldSelect.includes(item));
        const removedItems = oldSelect.filter(item => !newSelect.includes(item));

        console.log('addedItems', addedItems);
        console.log('removedItems', removedItems);

        if (newSelect.length > 0) {
          bookmarkIcon.classList.remove('fa-regular');
          bookmarkIcon.classList.add('fa-solid');
        } else {
          bookmarkIcon.classList.remove('fa-solid');
          bookmarkIcon.classList.add('fa-regular');
        }

        addedItems.forEach(item => {
          const numElement = Array.from(document.querySelectorAll('#collect .eachclass'))
            .find(div => div.querySelector('label').textContent === item)
            .querySelector('.num');
          const currentCount = parseInt(numElement.textContent.match(/\d+/)[0]);
          numElement.textContent = `(${currentCount + 1}篇)`;

          $.ajax({
            type: "POST",
            url: "/community/addCollect",
            data: {
              question_id: "{{ question[0] }}",
              category_id: numElement.previousElementSibling.querySelector('label').dataset.id
            },
            success: function(response) {
              console.log(response);
            },
            error: function(xhr, status, error) {
              console.error(error);
            }
          });
        });

        removedItems.forEach(item => {
          const numElement = Array.from(document.querySelectorAll('#collect .eachclass'))
            .find(div => div.querySelector('label').textContent === item)
            .querySelector('.num');
          const currentCount = parseInt(numElement.textContent.match(/\d+/)[0]);
          numElement.textContent = `(${currentCount - 1}篇)`;

          console.log(numElement.previousElementSibling.querySelector('label').dataset.id);
          console.log("{{ question[0] }}");

          $.ajax({
            type: "POST",
            url: "/community/subCollect",
            data: {
              question_id: "{{ question[0] }}",
              category_id: numElement.previousElementSibling.querySelector('label').dataset.id
            },
            success: function(response) {
              console.log(response);
            },
            error: function(xhr, status, error) {
              console.error(error);
            }
          });
        });

        collect.close();
      });

      closeCollectButton.addEventListener('click', function() {
        collect.close();
      });
    });
  
    // 檢舉
    document.addEventListener('DOMContentLoaded', function() {
      const reportDialog = document.getElementById('report');
      const openReportButton = document.getElementById('openreport');
      const saveReportButton = document.getElementById('savereport');
      const closeReportButton = document.getElementById('closereport');

      openReportButton.addEventListener('click', function() {
        reportDialog.showModal();
        reportDialog.scrollTop = 0;

        reportDialog.querySelectorAll('#report .eachreason input[type="checkbox"]').forEach(checkbox => {
          checkbox.checked = false;
        });
        reportDialog.querySelector('#report textarea').value = '';
        
        reportDialog.querySelector('#report textarea').addEventListener('input', function() {
          reportDialog.querySelector('#report .eachreason input[name="otherScales"]').checked = true;

          if (reportDialog.querySelector('#report textarea').value === '') {
            reportDialog.querySelector('#report .eachreason input[type="checkbox"]').checked = false;
          }
        });
      });

      saveReportButton.addEventListener('click', function() {
        if (!reportDialog.querySelector('#report .eachreason input[type="checkbox"]:checked')) {
          alert('請選擇檢舉原因！');
          return;
        }

        if (reportDialog.querySelector('#report .eachreason input[type="checkbox"]:checked').nextElementSibling.textContent === '其他(請填在下方空格)' && reportDialog.querySelector('#report textarea').value === '') {
          alert('請填寫檢舉原因！');
          return;
        }

        const reasons = [];
        reportDialog.querySelectorAll('.reasons input').forEach(input => {
          if (input.name !== 'otherScales' && input.checked) {
            reasons.push(input.name);
          }
        });

        const otherReason = reportDialog.querySelector('#report textarea').value.trim();

        $.ajax({
          type: "POST",
          url: "/community/report",
          data: {
            question_id: "{{ question[0] }}",
            reasons: reasons.join(','),
            otherReason: otherReason
          },
          success: function(response) {
            console.log(response);
            reportDialog.close();
          },
          error: function(xhr, status, error) {
            console.error(error);
          }
        });

        reportDialog.close();
      });

      closeReportButton.addEventListener('click', function() {
        report.close();
      });
    });

    // 刪除
    document.addEventListener('DOMContentLoaded', function() {
      const deleteDialog = document.getElementById('delete');
      const openDeleteButton = document.getElementById('opendelete');
      const saveDeleteButton = document.getElementById('savedelete');
      const closeDeleteButton = document.getElementById('closedelete');

      openDeleteButton.addEventListener('click', function() {
        deleteDialog.showModal();
        deleteDialog.scrollTop = 0;
      });

      saveDeleteButton.addEventListener('click', function() {
        $.ajax({
          type: "POST",
          url: "/community/deleteQuestion",
          data: {
            question_id: "{{ question[0] }}"
          },
          beforeSend: function() {
            deleteDialog.close();
            document.getElementById("loading").style.display = "flex";
          },
          success: function(response) {
            console.log(response);
            window.location.href = '/community/communityMain';
          },
          error: function(xhr, status, error) {
            console.error(error);
          }
        });
      });

      closeDeleteButton.addEventListener('click', function() {
        deleteDialog.close();
      });
    });
  
    // 說點什麼吧！
    document.addEventListener('DOMContentLoaded', function() {
      const messageInput = document.getElementById('messageInput');
      const messageButton = document.querySelector('.bottom button');

      messageButton.addEventListener('click', function() {
        const message = messageInput.value;
        if (message === '') {
          alert('請輸入留言！');
          return;
        }

        $.ajax({
          type: "POST",
          url: "/community/addAnswer",
          data: {
            question_id: "{{ question[0] }}",
            message: message
          },
          success: function(response) {
            console.log(response);
          },
          error: function(xhr, status, error) {
            console.error(error);
          }
        });

        messageInput.value = '';

        if (document.querySelector('.bestoptimal')) {
          const newComment = document.createElement('div');
          newComment.classList.add('each');
          newComment.innerHTML = `
            <div class="top">
              <div class="right">
                <img class="photostickers" src="/static/images/userImage/${uid}/${userImage}" alt="">
                <p>${new Date().toLocaleDateString()}</p>
              </div>
            </div>
            <div class="bottom">
              ${message}
            </div>
          `;
          document.querySelector('.comment').insertBefore(newComment, document.querySelector('.comment').children[1]);
        } else {
          const newComment = document.createElement('div');
          newComment.classList.add('each');
          newComment.innerHTML = `
            <div class="top">
              <div class="right">
                <img class="photostickers" src="/static/images/userImage/${uid}/${userImage}" alt="">
                <p>${new Date().toLocaleDateString()}</p>
              </div>
            </div>
            <div class="bottom">
              ${message}
            </div>
          `;
          document.querySelector('.comment').appendChild(newComment);
        }
        

      });
    });

    // 設為最佳解
    document.addEventListener('DOMContentLoaded', function() {
      let bestAnswerElement = null;

      const bestAnswer = document.querySelector('.bestoptimal');
      if (bestAnswer) {
        bestAnswerElement = bestAnswer.closest('.each');
      }

      document.querySelectorAll('.optimal').forEach(button => {
        button.addEventListener('click', function() {
          const answerElement = this.closest('.each');
          const answerId = answerElement.dataset.id;

          if (bestAnswerElement) {
            bestAnswerElement.querySelector('.bestoptimal')?.remove();
            bestAnswerElement.querySelector('.optimal').style.display = 'inline-block';
          }

          bestAnswerElement = answerElement;
          answerElement.querySelector('.top').insertAdjacentHTML('afterbegin', '<div class="bestoptimal"><i class="fa-solid fa-crown"></i>最佳解</div>');
          this.style.display = 'none';

          $.ajax({
            type: "POST",
            url: "/community/setBestAnswer",
            data: {
              question_id: "{{ question[0] }}",
              answer_id: answerId
            },
            success: function(response) {
              console.log(response);
            },
            error: function(xhr, status, error) {
              console.error(error);
            }
          });
        });
      });
    });
  </script>
</body>
</html>