<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/images/favicon.ico" rel="shortcut icon"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/base/reset.css">
  <link rel="stylesheet" href="/static/css/base/global.css">
  <link rel="stylesheet" href="/static/css/components/mousemove.css">
	<link rel="stylesheet" href="/static/css/layout/navbar.css">
  <link rel="stylesheet" href="/static/css/layout/footer.css">
  <link rel="stylesheet" href="/static/css/community/airecipePost.css">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <link rel="stylesheet" href="/static/css/components/loading.css">
  <script src="https://kit.fontawesome.com/d9f27795c1.js" crossorigin="anonymous"></script>
  <script src="/static/components/mousemove.js" defer></script>
	<script src="/static/components/layout/navbar.js" defer></script>
  <script src="/static/components/layout/footer.js" defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <title>提問編輯</title>
</head>
<body>
  <div id="myCursor"></div>
  <div id="circle"></div>

  <nav id="nav-container"></nav>

  <article>
    <section>
      <div class="title">
        <i class="fa-solid fa-paper-plane"></i>
        <h1>提問編輯</h1>
      </div>

      <form>
        <!-- 表單內容 -->
        <div class="pen">
          <h3>標題(30字以內)</h3>
          <input type="text"  required value="{{ question[2] }}">
        </div>

        <div class="pen">
          <h3>內文</h3>
          <textarea type="text" cols="30" rows="10" required>{{ question[3] }}</textarea>
        </div>

        <div class="pen">
          <div class="title">
            <h3>圖片(最多五張)</h3>
            <label for="fileInput" class="add-file-btn"><i class="fa-solid fa-plus"></i></label>
            <input type="file" id="fileInput" multiple accept="image/*" style="display: none;">
          </div>
          {% if question[4] %}
          <div class="carousel" id="carousel">
            {% for image in question[8] %}
            <div class="carousel-cell">
                <img src="/static/images/community/{{question[1]}}/{{question[4]}}/{{image}}" alt="">
                <button class="edit-btn" type="button"><i class="fa-solid fa-edit" aria-hidden="true"></i></button>
                <button class="remove-btn" type="button"><i class="fa-solid fa-trash" aria-hidden="true"></i></button>
          	</div>
          	{% endfor %}
					{% else %}
					<div class="carousel" id="carousel"></div>
					{% endif %}
        </div>
        
        </div>

        <div class="btn">
          <input type="submit" value="修改完成" class="submit-btn">
        </div>
      </form>
    </section>

    <div id="loading" style="display: none;">
      <div class="loader2"></div>
    </div>

  </article>

  <footer id="footer-container"></footer>

  <script>
    let messageText = "{{name}}";
    let userImage = "{{userImage}}"
    let uid = "{{uid}}"
    let uploadCount = 2;

    window.onload = function() {
      renderNav();
      renderFooter();
    };

    // 圖片處理
    document.addEventListener('DOMContentLoaded', function() {
      const carouselElement = document.getElementById('carousel');
      const maxFiles = 5;

      // 初始化 Flickity
      const flkty = new Flickity(carouselElement, {
        cellAlign: 'left',
        contain: true,
        pageDots: true,
        wrapAround: false,
        imagesLoaded: true
      });

      // 為現有的圖片綁定編輯和刪除事件
      function bindButtonEvents(cellDiv) {
        const removeBtn = cellDiv.querySelector('.remove-btn');
        const editBtn = cellDiv.querySelector('.edit-btn');
        const imgElement = cellDiv.querySelector('img');

        // 綁定刪除按鈕事件
        removeBtn.addEventListener('click', () => {
          flkty.remove(cellDiv);
          flkty.reloadCells();
        });

        // 綁定編輯按鈕事件
        editBtn.addEventListener('click', () => {
          const newFileInput = document.createElement('input');
          newFileInput.type = 'file';
          newFileInput.accept = 'image/*';
          newFileInput.style.display = 'none';
          document.body.appendChild(newFileInput);

          newFileInput.addEventListener('change', (e) => {
            const newFile = e.target.files[0];
            const newReader = new FileReader();

            newReader.onload = function(ev) {
              imgElement.src = ev.target.result;
            };

            newReader.readAsDataURL(newFile);
            document.body.removeChild(newFileInput);
          });

          newFileInput.click();
        });
      }

      // 為所有現有的圖片綁定事件
      const existingCells = document.querySelectorAll('.carousel-cell');
      existingCells.forEach(cellDiv => {
        bindButtonEvents(cellDiv);
      });

      // 為新添加的圖片綁定事件
      document.getElementById('fileInput').addEventListener('change', function(event) {
        const files = event.target.files;
        if (flkty.cells.length + files.length > maxFiles) {
          alert('最多只能上傳五張照片');
          return;
        }

        let newIndex = flkty.cells.length; // 新圖片將被添加到現有圖片的後面
        for (let i = 0; i < files.length; i++) {
          const file = files[i];
          const reader = new FileReader();

          reader.onload = function(e) {
            const cellDiv = document.createElement('div');
            cellDiv.classList.add('carousel-cell');

            const imgElement = document.createElement('img');
            imgElement.src = e.target.result;

            const removeBtn = document.createElement('button');
            removeBtn.classList.add('remove-btn');
            removeBtn.innerHTML = '<i class="fa-solid fa-trash"></i>';

            const editBtn = document.createElement('button');
            editBtn.classList.add('edit-btn');
            editBtn.innerHTML = '<i class="fa-solid fa-edit"></i>';
            editBtn.type = 'button';

            cellDiv.appendChild(imgElement);
            cellDiv.appendChild(editBtn);
            cellDiv.appendChild(removeBtn);

            flkty.append(cellDiv);

            // 綁定新添加圖片的編輯和刪除按鈕事件
            bindButtonEvents(cellDiv);

            // 滾動到新添加的第一張圖片位置
            if (i === 0) { // 只在添加第一張新圖片時進行滾動
              flkty.selectCell(newIndex, true); // true 表示平滑過渡
            }
          };

          reader.readAsDataURL(file);
        }
      });
    });

    // 提交表單
    document.addEventListener('DOMContentLoaded', function() {
      const form = document.querySelector('form');
      form.addEventListener('submit', function(event) {
        event.preventDefault();

        const title = form.querySelector('input[type="text"]').value;
        const content = form.querySelector('textarea').value;
        const Qid = "{{ question[0] }}";
        const folderName = "{{ question[4] }}";
        
        // 取得carousel-cell 裡面的 img src
        const imgElements = document.querySelectorAll('.carousel-cell img');
        const newImages = Array.from(imgElements).map(img => img.src);

        // 比對 title、content 和 img
        const originalTitle = "{{ question[2] }}";
        const originalContent = "{{ question[3] }}";
        const originalImages = JSON.parse('{{ question[8]|tojson|safe }}');

        const isTitleSame = title === originalTitle;
        const isContentSame = content === originalContent;
        const areImagesSame = newImages.length === originalImages.length && newImages.every((img, index) => img.includes(originalImages[index]));

        if (isTitleSame && isContentSame && areImagesSame) {
            window.history.back();
            return;
        }

        const formData = new FormData();

        formData.append('title', title);
        formData.append('content', content);
        formData.append('Qid', Qid);
        formData.append('folderName', folderName);

        imgElements.forEach(imgElement => {
          const imgSrc = imgElement.src;

          let imgFile;
          if (imgSrc.startsWith('data:image')) {
            // 如果是 dataURL 格式的圖片
            imgFile = dataURLtoFile(imgSrc);
          }else {
            // 如果是從伺服器取得的圖片
            imgFile = new File([], imgSrc.split('/').pop());
          } 


          formData.append('files[]', imgFile);
        });

        function dataURLtoFile(dataURI, filename) {
          var byteString = atob(dataURI.split(',')[1]);
          var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
          var ab = new ArrayBuffer(byteString.length);
          var ia = new Uint8Array(ab);
          for (var i = 0; i < byteString.length; i++) {
              ia[i] = byteString.charCodeAt(i);
          }

          return new File([ab], filename, { type: mimeString });
        }
      
        $.ajax({
          url: '/community/updateQuestion',
          type: 'POST',
          data: formData,
          contentType: false,
          processData: false,
          beforeSend: function() {
            document.getElementById("loading").style.display = "flex";
          },
          success: function(data) {
            // const Qid = data.Qid;
            window.location.href = `/community/communityMain`;
          },
          error: function() {
            alert('發生錯誤，請稍後再試');
          }
        });
      });
    });

  </script>
</body>
</html>