<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/images/favicon.ico" rel="shortcut icon"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/base/reset.css">
  <link rel="stylesheet" href="/static/css/base/global.css">
  <link rel="stylesheet" href="/static/css/layout/navbar.css">
  <link rel="stylesheet" href="/static/css/layout/footer.css">
  <link rel="stylesheet" href="/static/css/goal/goalMain.css">
  <script src="https://kit.fontawesome.com/d9f27795c1.js" crossorigin="anonymous"></script>
  <script src="/static/components/layout/navbar.js" defer></script>
  <script src="/static/components/layout/footer.js" defer></script>
  <script src="/static/js/goalMain.js" async></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <title>目標</title>
</head>
<body>
  <nav id="nav-container"></nav>

  <article>
    <section class="check-in">
      <div class="top">
        <div class="title">
          <i class="fa-regular fa-calendar-check"></i>
          <h2>每日打卡</h2>
        </div>
        <button onclick="location.href='/goal/checkList'" type="button"><i class="fa-solid fa-pen"></i></button>
      </div>
      
      <div class="check-box">

        {% for d in data %}
        <div class="item">
            <input type="checkbox" id="checkbox-{{ loop.index }}" {% if d[3] == 1 %}checked{% endif %} data-id="{{ d[0] }}"/>
            <label for="checkbox-{{ loop.index }}">
                &ensp;
                {% if d[2] == 1 %}
                <i class="fa-solid fa-droplet"></i>
                {% elif d[2] == 2 %}
                <i class="fa-solid fa-seedling"></i>
                {% elif d[2] == 3 %}
                <i class="fa-solid fa-apple-whole"></i>
                {% elif d[2] == 4 %}
                <i class="fa-solid fa-cookie-bite"></i>
                {% elif d[2] == 5 %}
                <i class="fa-solid fa-martini-glass"></i>
                {% endif %}
                {{ d[1] }}
            </label>
        </div>
        {% endfor %}


        <div class="add-check-box" id="opencheck">
          <i class="fa-solid fa-plus"></i>
          &ensp;
          新增打卡目標
        </div>
      </div>
      <dialog id="check">
        <h1>新增打卡目標</h1>
        <div class="content">
          <h2>icon</h2>
          <div class="icons">
            <div class="iconbtn iconbtn-droplet" onclick="changeColor(this)"><i class="fa-solid fa-droplet"></i></div>
            <div class="iconbtn iconbtn-seedling" onclick="changeColor(this)"><i class="fa-solid fa-seedling"></i></div>
            <div class="iconbtn iconbtn-martini-glass" onclick="changeColor(this)"><i class="fa-solid fa-martini-glass"></i></div>
            <div class="iconbtn iconbtn-cookie-bite" onclick="changeColor(this)"><i class="fa-solid fa-cookie-bite"></i></div>
            <div class="iconbtn iconbtn-apple-whole" onclick="changeColor(this)"><i class="fa-solid fa-apple-whole"></i></div>
          </div>
          <h2>打卡目標</h2>
          <input type="text">
        </div>
        <div class="save">
          <button id="closecheck">close</button>
          <button id="savecheck">save</button>
        </div>
      </dialog>
    </section>

    <section class="weight_change">
      <div class="top">
        <div class="title">
          <i class="fa-solid fa-chart-line"></i>
          <h2>體重變化表</h2>
        </div>
        <div class="btn">
          <button id="openweight"><i class="fa-solid fa-plus"></i></button>
          <button onclick="location.href='/goal/weightList'" type="button"><i class="fa-solid fa-pen"></i></button>
        </div>
      </div>
      <dialog id="weight">
        <h1>新增體重紀錄</h1>
        <div class="content">
          <h2>日期</h2>
          <input type="date">
          <h2>體重</h2>
          <input type="text">
        </div>
        <div class="save">
          <button id="closeweight">close</button>
          <button id="saveweight">save</button>
        </div>
      </dialog>

      <div class="input">
        請輸入今日體重(kg) :&ensp;
        <input type="text">&ensp;
        <button><i class="fa-solid fa-check"></i></button>
      </div>

      <canvas id="myChart"></canvas>
    </section>

    <section class="contrast">
      <div class="top">
        <div class="title">
          <i class="fa-regular fa-image"></i>
          <h2>前後對比照</h2>
        </div>
        <button>
          <i class="fa-solid fa-puzzle-piece"></i>
          生成前後對比照
        </button>
      </div>

      <div class="photo">
        <div class="before">
          <div class="container">
            <span class="text">before</span>
            <div class="background">&nbsp;</div>
          </div>
          <label for="beforefileInput" class="custom-input">
            <input type="file" id="beforefileInput" accept="image/*" onchange="beforepreviewImage(event)">
            <div class="icon">
              <i class="fas fa-plus"></i>
            </div>
            <img id="beforepreviewImage" src="" alt="">
          </label>
          <div class="edit">
            <div class="right">2024.04.05</div>
            <div class="left">
              <button onclick="enableEditing('before')"><i class="fa-solid fa-pen"></i></button>
              <button onclick="clearImage('before')"><i class="fa-regular fa-trash-can"></i></button>
            </div>
          </div>
        </div>
      
        <i class="fa-solid fa-angles-right"></i>
      
        <div class="after">
          <div class="container">
            <span class="text">after</span>
            <div class="background">&nbsp;</div>
          </div>
          <label for="afterfileInput" class="custom-input">
            <input type="file" id="afterfileInput" accept="image/*" onchange="afterpreviewImage(event)">
            <div class="icon">
              <i class="fas fa-plus"></i>
            </div>
            <img id="afterpreviewImage" src="" alt="">
          </label>
          <div class="edit">
            <div class="right">2024.04.05</div>
            <div class="left">
              <button onclick="enableEditing('after')"><i class="fa-solid fa-pen"></i></button>
              <button onclick="clearImage('after')"><i class="fa-regular fa-trash-can"></i></button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>

  <footer id="footer-container"></footer>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    let messageText = "chiaoyu";

    window.onload = function() {
      renderNav();
      renderFooter();
    };

    // 體重變化表
    let chartElement = document.getElementById('myChart');
    let data = {
      labels: [
        '星期一', '星期二', '星期三', '星期四', '星期五' ,'星期六' ,'星期日',
      ],
      datasets: [{
        label: '參加人數',
        data: [160, 130, 140, 160, 170, 200, 180],
      }]
    };
    new Chart(chartElement, {
      type: 'line',
      data: data,
    });

    // 前後對照圖
    let isEditing = {
      'before': false,
      'after': false
    };

    function toggleEdit(type) {
      const inputLabel = document.querySelector(`.${type} .custom-input`);
      inputLabel.style.pointerEvents = isEditing[type] ? 'none' : 'auto';

      const editDiv = document.querySelector(`.${type} .edit`);
      editDiv.style.display = isEditing[type] ? 'flex' : 'none';
    }

    function enableEditing(type) {
      isEditing[type] = true;
      toggleEdit(type);

      const fileInput = document.getElementById(`${type}fileInput`);
      fileInput.click();
    }

    function clearImage(type) {
      const previewImage = document.getElementById(`${type}previewImage`);
      previewImage.src = "";
      previewImage.style.display = 'none';
      const inputLabel = document.querySelector(`.${type} .custom-input`);
      inputLabel.style.pointerEvents = 'auto';
      const editDiv = document.querySelector(`.${type} .edit`);
      editDiv.style.display = 'none';
      const plusIcon = document.querySelector(`.${type} .icon`);
      plusIcon.style.display = 'flex';
      isEditing[type] = false;
    }

    function beforepreviewImage(event) {
      const file = event.target.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
          const previewImage = document.getElementById('beforepreviewImage');
          previewImage.src = e.target.result;
          previewImage.style.display = 'block';
          document.querySelector('.before .icon').style.display = 'none';
          enableEditing('before');
        }
        reader.readAsDataURL(file);
      }
    }

    function afterpreviewImage(event) {
      const file = event.target.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
          const previewImage = document.getElementById('afterpreviewImage');
          previewImage.src = e.target.result;
          previewImage.style.display = 'block';
          document.querySelector('.after .icon').style.display = 'none';
          enableEditing('after');
        }
        reader.readAsDataURL(file);
      }
    }

    // 彈跳視窗 新增打卡目標
    let opencheck=document.getElementById('opencheck');
    let check=document.getElementById('check');
    let closecheck=document.getElementById('closecheck');
    opencheck.addEventListener("click", function(){
      check.showModal();
    })
    closecheck.addEventListener("click", function(){
      check.close();
    })

    // 彈跳視窗 新增體重
    let openweight=document.getElementById('openweight');
    let weight=document.getElementById('weight');
    let closeweight=document.getElementById('closeweight');
    openweight.addEventListener("click", function(){
      weight.showModal();
    })
    closeweight.addEventListener("click", function(){
      weight.close();
    })

    // icon變換顏色
    var lastClickedElement = null;

    function changeColor(element) {
      var iconName = element.classList[1].replace("iconbtn-", "");
      element.style.backgroundColor = getColor(iconName);
      element.querySelector("i").style.color = "#ffffff";

      // Reset color of last clicked element
      if (lastClickedElement && lastClickedElement !== element) {
        resetColor(lastClickedElement);
      }
      
      lastClickedElement = element;
    }

    function resetColor(element) {
      var iconName = element.classList[1].replace("iconbtn-", "");
      element.style.backgroundColor = '';
      element.querySelector("i").style.color = '';
    }

    function getColor(iconName) {
      switch(iconName) {
        case "droplet":
          return "#59A5D8";
        case "seedling":
          return "#4AD66D";
        case "martini-glass":
          return "#FF9914";
        case "cookie-bite":
          return "#BC6C25";
        case "apple-whole":
          return "#e5446d";
        default:
          return "#ffffff";
      }
    }

    
  </script>
</body>
</html>