<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/images/favicon.ico" rel="shortcut icon"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/base/reset.css">
  <link rel="stylesheet" href="/static/css/base/global.css">
  <link rel="stylesheet" href="/static/css/components/mousemove.css">
  <link rel="stylesheet" href="/static/css/components/dialog.css">
	<link rel="stylesheet" href="/static/css/layout/navbar.css">
  <link rel="stylesheet" href="/static/css/layout/footer.css">
  <link rel="stylesheet" href="/static/css/goal/weightList.css">
  <script src="https://kit.fontawesome.com/d9f27795c1.js" crossorigin="anonymous"></script>
  <script src="/static/components/mousemove.js" defer></script>
	<script src="/static/components/layout/navbar.js" defer></script>
  <title>體重紀錄列表</title>
</head>
<body>
  <div id="myCursor"></div>
  <div id="circle"></div>

  <nav id="nav-container"></nav>

  <article>
    <main>
      <h1>體重紀錄列表</h1>
      <div class="search">
        <div class="left">
          日期 : <input type="date">
        </div>
        <div class="right">
          <input type="text" placeholder="關鍵字查詢">
          <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      </div>
      <table>
        <tr>
          <th>日期</th>
          <th>體重(kg)</th>
          <th></th>
          <th></td>
        </tr>
        {% for d in data %}
        <tr>
          <td>{{ d[2] }}</td>
          <td>{{ d[1] }}</td>
          <td ><i class="fa-solid fa-pen" id="openweight"></i></td>
          <td><i class="fa-regular fa-trash-can"></i></td>
        </tr>
        {% endfor %}
      </table>
      <dialog id="weight">
        <h1>新增體重紀錄</h1>
        <div class="content">
          <h2>日期</h2>
          <input type="date">
          <h2>體重</h2>
          <input type="text">
        </div>
        <div class="save">
          <button id="closeweight" class="closebtn">close</button>
          <button id="saveweight" class="savebtn">save</button>
        </div>
      </dialog>
    </main>
  </article>

  <script>
    let messageText = "chiaoyu";

    window.onload = function() {
      renderNav();
    };

    let openweight=document.getElementById('openweight');
    let weight=document.getElementById('weight');
    let closeweight=document.getElementById('closeweight');
    openweight.addEventListener("click", function(){
      weight.showModal();
    })
    closeweight.addEventListener("click", function(){
      weight.close();
    })
  </script>
</body>
</html>