article {
  background-color: #F0EAD2;
  padding: 10% 20% 5%;
  color: #495057;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #BC6C25;
  font-weight: bold;
  margin-bottom: 5%;
}

.title i,
.collecttitle i {
  margin-right: 2%;
}

.select {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.select select {
  flex-grow: 1;
  background-color: #FCFAF1;
  border: none;
  padding: 2%;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 1em;
}

.select .add {
  background-color: #86BAA1;
  color: #FCFAF1;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

section {
  width: 80%;
}

section .collecttitle {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2em;
  color: #BC6C25;
  font-weight: bold;
  margin: 10% 0 5%;
}

section .collectcontent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.eachcollect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.eachcollect .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FCFAF1;
  border-radius: 10px;
  padding: 1% 2%;
  flex-grow: 1;
}

.eachcollect i {
  margin: 0 1%;
  cursor: pointer;
}

/* Large 1200px */

@media screen and (max-width:1200px) {
  article {
    padding: 12% 15% 5%;
  }

  .select,
  section {
    width: 80%;
  }

  .select .add {
    width: 40px;
    height: 40px;
  }
}

/* Middle 1024px */

@media screen and (max-width:1024px) {
  article {
    padding: 15% 15% 5%;
  }

  .select,
  section {
    width: 90%;
  }
}

/* Small 768px */

@media screen and (max-width:768px) {
  article {
    padding: 20% 10% 5%;
  }

  .select,
  section {
    width: 100%;
  }
}

/* X-Small 480px */

@media screen and (max-width:480px) {
  article {
    padding: 25% 10% 5%;
  }
}