article {
  background-color: #F0EAD2;
  min-height: 100vh;
  padding: 150px 20% 5%;
  color: #495057;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

article .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #BC6C25;
  font-weight: bold;
}

.fa-bookmark,
.collecttitle i {
  color: #BC6C25;
  margin-right: 2%;
}

.select {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.select select {
  flex-grow: 1;
  background-color: #FCFAF1;
  border: none;
  padding: 2%;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 1em;
  color: #495057;
}

.select .add {
  background-color: #86BAA1;
  color: #FCFAF1;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

section {
  width: 80%;
}

section .collecttitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  color: #BC6C25;
  font-weight: bold;
}

.collecttitle .left {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  white-space: nowrap;
}

.collecttitle .right {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  white-space: nowrap;
  font-size: 15px;
}

section .collectcontent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 5%;
}

.collecttitle .right i,
.eachcollect i {
  cursor: pointer;
}

.eachcollect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.eachcollect .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FCFAF1;
  border-radius: 10px;
  padding: 1% 2%;
  flex-grow: 1;
}

.eachcollect .wrap p {
  color: #495057;
  text-decoration: none;
  line-height: 25px;
}

.eachcollect .wrap img {
  max-width: 100%;
  max-height: 100%;
  width: 35px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

/* X-Large 1440px */

@media screen and (max-width:1440px) {
  article {
    padding: 150px 15% 5%;
  }
}

/* Large 1200px */

@media screen and (max-width:1200px) {
  article {
    padding: 150px 10% 5%;
    gap: 40px;
  }

  .select,
  section {
    width: 80%;
  }

  .select .add {
    width: 40px;
    height: 40px;
  }
}

/* Middle 1024px */

@media screen and (max-width:1024px) {
  .select,
  section {
    width: 90%;
  }
}

/* Small 768px */

@media screen and (max-width:768px) {
  article {
    gap: 30px;
  }

  .select,
  section {
    width: 100%;
  }
}

/* X-Small 480px */

@media screen and (max-width:480px) {
  article {
    padding: 120px 10% 5%;
    gap: 20px;
  }

  article .title {
    font-size: 20px;
  }

  .select select {
    font-size: 12px;
  }

  .select .add {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }

  section .collecttitle {
    font-size: 15px;
    margin: 5% 0;
  }

  .select,
  .collecttitle .left,
  .collecttitle .right,
  .eachcollect {
    gap: 15px;
  }

  .eachcollect .wrap {
    padding: 5px 10px;
  }

  .eachcollect .wrap p {
    font-size: 13px;
    line-height: 20px;
  }

  .eachcollect .wrap img {
    max-width: 100%;
    max-height: 100%;
    width: 35px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
  }
}