article {
  background-color: #F0EAD2;
  padding: 0 10%;
  color: #495057;
}

.sectionwrap {
  min-height: 100vh;
  padding: 200px 5% 5%;
  display: flex; 
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #FFF;
}

.profile {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.avatarFrame {
  background-image: url(/static/images/nutritionistFrame.png);
  width: 350px;
  height: 350px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.avatarFrame > .profile-picture {
  border-radius: 50%;
  width: 210px;
  height: 210px;
  object-fit: cover;
}

.noAvatarFrame {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  position: relative;
  box-shadow: 2px 2px 10px 2px #be987149;
  border-radius: 50%;
}

.noAvatarFrame > .profile-picture {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.editAvatar {
  background-color: #FFF;
  border: #6E3D0D 1px solid;
  color: #6E3D0D;
  border-radius: 10px;
  padding: 8px 10px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 5px;
  transition: all 0.3s;
  cursor: pointer;
}

.avatarFrame > .editAvatar {
  right: 10%;
  bottom: 10%;
}

.noAvatarFrame > .editAvatar {
  right: 0;
  bottom: 5%;
}

.editAvatar:hover {
  background-color: #f1f1f1;
}

.profile .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.profile input {
  border: none;
  border-bottom: 2px solid #6E3D0D;
  width: 60%;
  border-radius: 0;
  padding: 25px 0px 0px 0px;
  box-sizing: border-box;
  font-size: 2em;
  color: #6E3D0D;
  text-align: center;
  outline: none;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  gap: 5%;
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.progress-bar > form {
  width: 100%;
}

.progress-bar > .level {
  border: #F47E93 5px solid;
  background-color: #FFF;
  border-radius: 50%;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 1%;
}

.progress-bar > .level > span {
  font-size: 0.5em;
}

progress{
  appearance: none;
  height: 10px;
  width: 100%;
  position: relative;
}

progress::-webkit-progress-bar {
  background-color: #B3B3B3;
  border-radius: 5px;
}

progress::-webkit-progress-value {
  background-color: #F47E93;
  border-radius: 5px;
}

.numerical {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  font-size: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.out2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  margin-bottom: 3%;
}

.out2 .title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1%;
}

p{
  margin: 10px 5px 5px 5px;
}

.out2 .gender,
.out2 .birthday {
  display: flex;
  flex-direction: column;
  gap: 5%;
  flex: 1;
  position: relative;
}

.gbt{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}

.gender button {
  flex: 1;
  padding: 10px 10px;
  border-radius: 15px;
  border: none;
  color: #495057;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  justify-content: center; 
  align-items: center; 
  transition: background-color 0.3s;
}

#maleButton {
  background-color: #84C1FF;
  border: #84C1FF 2px solid;
}

#femaleButton {
  background-color: #FF95CA;
  border: #FF95CA 2px solid;
}

.maleButtonactive {
  border: #297bcd 2px solid;
}

.femaleButtonactive {
  border: #c22574 2px solid;
}

.container .lists {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  width: 100%;
}

.lists a {
  width: 50%;
  text-decoration: none;
  box-sizing: border-box;
  padding: 15px 10px;
  border: #d4a373 1px solid;
  border-radius: 15px;
  background-color: white;
  color: #d4a373;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  justify-content: center; 
  align-items: center; 
  transition: background-color 0.3s;
}

.lists a:hover {
  background-color:  #d4a373;
  color: white;
}

.settings input {
  border: #495057 2px solid;
  width: 100%;
  border-radius: 15px;
  padding: 10px 10px;
  box-sizing: border-box;
}

.closesetting {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.closesetting button {
  border-radius: 10px;
  background-color: #495057;
  color: #FFF;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  justify-content: center; 
  align-items: center; 
  transition: background-color 0.3s;
  padding: 10px 15px;
}

.closesetting button:first-child {
  background-color: #86BAA1;
  border: #86BAA1 1px solid;
}

.closesetting button:last-child {
  background-color: #495057;
  border: #495057 1px solid;
}

.closesetting button:first-child:hover {
  background-color:  #FFF;
  color:  #86BAA1;
}

.closesetting button:last-child:hover {
  background-color:  #FFF;
  color:  #495057;
}

.disablededit {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

footer img {
  display: none;
}

/* X-Large 1440px */

@media screen and (max-width:1440px) {
  .profile {
    gap: 10px;
  }

  .profile-picture {
    width: 200px;
    height: 200px;
  }

}

/* Large 1200px */

@media screen and (max-width:1200px) {
  .sectionwrap {
    gap: 30px;
  }
  
  .profile-picture {
    width: 180px;
    height: 180px;
  }
}

/* Middle 1024px */

@media screen and (max-width:1024px) {
  .sectionwrap {
    padding: 150px 5% 50px;
    display: flex;
    flex-direction: column;
  }

  .lists a {
    width: 80%;
  }
}

/* Small 768px */

@media screen and (max-width:768px) {
  .lists a {
    width: 60%;
  }

  .out1 {
    margin: 5% 0;
  }

  .out2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
  }

  .out2 .mail,
  .out2 .gender,
  .out2 .password,
  .out2 .birthday {
    display: flex;
    flex-direction: column;
    gap: 5%;
    flex: 1;
    position: relative;
    width: 100%;
  }
}

/* X-Small 480px */

@media screen and (max-width:480px) {
  .out1 {
    margin: 5% 0 10%;
  }
}