article {
  background-color: #F0EAD2;
  padding: 0 10%;
  color: #495057;
}

.sectionwrap {
  height: 90vh;
  padding: 10% 5% 5%;
  display: flex; 
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #FFF;
}

.profile {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  cursor: pointer; 
  transition: opacity 0.3s;
}

.profile-picture:hover {
  opacity: 0.7;
}

.profile .title {
  display: flex;
  align-items: center;
  margin: 0px 10px 30px 10px; 
  justify-content: center;
}

.profile input {
  border: none;
  border-bottom: 2px solid #6E3D0D;
  width: 60%;
  border-radius: 0;
  padding: 25px 0px 0px 0px;
  box-sizing: border-box;
  font-size: 2em;
  color: #6E3D0D;
  text-align: center;
  outline: none;
}

.profile a {
  text-decoration: none;
  width: 50%;
}

.profile button {
  width: 100%;
  height: 50px;
  padding: 10px 10px;
  margin: 10px 10px;
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
  color: #d4a373;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  justify-content: center; 
  align-items: center; 
  transition: background-color 0.3s;
}

.profile button:hover {
  background-color:  #d4a373;
  color: white;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  gap: 5%;
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar > form {
  width: 100%;
}

.progress-bar > .level {
  border: #F47E93 5px solid;
  background-color: #FFF;
  border-radius: 50%;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 1%;
}

.progress-bar > .level > span {
  font-size: 0.5em;
}

progress{
  appearance: none;
  height: 10px;
  width: 100%;
  position: relative;
}

progress::-webkit-progress-bar {
  background-color: #B3B3B3;
  border-radius: 5px;
}

progress::-webkit-progress-value {
  background-color: #F47E93;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.out2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  margin-bottom: 3%;
}

.out2 .title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1%;
}

p{
  margin: 10px 5px 5px 5px;
}

.out2 .mail,
.out2 .gender,
.out2 .password,
.out2 .birthday {
  display: flex;
  flex-direction: column;
  gap: 5%;
  flex: 1;
  position: relative;
}

.gbt{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}

.gender button {
  flex: 1;
  padding: 10px 10px;
  border-radius: 15px;
  border:none;
  color: #495057;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  justify-content: center; 
  align-items: center; 
  transition: background-color 0.3s;
}

.gender button {
  flex: 1;
  padding: 10px 10px;
  border-radius: 15px;
  border: none;
  color: #495057;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  justify-content: center; 
  align-items: center; 
  transition: background-color 0.3s;
}

.gender button[id="maleButton"] {
  background-color: #84C1FF;
  border: #84C1FF 2px solid;
}

.gender button[id="femaleButton"] {
  background-color: #FF95CA;
  border: #FF95CA 2px solid;
}

.gender button[id="maleButton"]:hover {
  border: #297bcd 2px solid;
}

.gender button[id="femaleButton"]:hover {
  border: #c22574 2px solid;
}

.settings input {
  border: #495057 2px solid;
  width: 100%;
  border-radius: 15px;
  padding: 10px 10px;
  box-sizing: border-box;
}

.closesetting {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5%;
}

.closesetting button {
  border-radius: 5px;
  height: 40px;
  border: none;
  background-color: #495057;
  color: #FFF;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  justify-content: center; 
  align-items: center; 
  transition: background-color 0.3s;
  padding: 10px 10px;
  margin-right: 5%;
  margin-bottom: 5%;
  border: #495057 1px solid;
}

.closesetting button:hover {
  background-color:  #FFF;
  color:  #495057;
}